/*
 * Copyright 2018 Technexion Ltd.
 * Copyright 2018 NXP
 *
 * Author: Richard Hu <richard.hu@technexion.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "imx8mm-pico-wizard.dts"

/ {
	backlight_mipi {
		status = "okay";
	};
};

&mipi_dsi {
	status = "okay";

	panel@0 {
		compatible = "auo,g101uan02";
		reg = <0>;
		status = "okay";
	};
};

&i2c3 {
	polytouch: edt-ft5826@38 {
		compatible = "edt,edt-ft5x06";
		reg = <0x38>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_touch_irq>;
		interrupt-parent = <&gpio1>;
		interrupts = <7 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&pca9555_23 3 GPIO_ACTIVE_LOW>;
		touchscreen-size-x = <1920>;
		touchscreen-size-y = <1200>;
	};
};

