/*
 * Copyright 2019 Technexion Ltd.
 * Copyright 2018 NXP
 *
 * Author: Richard Hu <richard.hu@technexion.com>
 *         John Weber <john.weber@technexion.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

#include "imx8mm-axon.dtsi"

/ {
	model = "TechNexion AXON-IMX8MM and PI baseboard";
	compatible = "fsl,imx8mm-axon", "fsl,imx8mm";

	regulators {

		reg_usb_otg_vbus: usb_otg_vbus {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_otg_vbus>;
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <AXON_EXT_GPIO_X1_P66 GPIO_ACTIVE_LOW>;
			enable-active-low;
		};

		reg_backlight_pwr: regulator_blpwr {
			pinctrl-names = "default";
			compatible = "regulator-fixed";
			regulator-name = "backlight_pwr";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&axonfabric 27 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		reg_usdhc2_vmmc: regulator-usdhc2 {
			compatible = "regulator-fixed";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usdhc2_pwr>;
			regulator-name = "SD_3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <AXON_EXT_SD_RESET_B GPIO_ACTIVE_HIGH>;
			off-on-delay = <20000>;
			enable-active-high;
		};
	};

	backlight_mipi {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 50000 0>;
		brightness-levels = <0 36 72 108 144 180 216 255>;
		default-brightness-level = <7>;
		power-supply = <&reg_backlight_pwr>;
		status = "okay";
	};

	sound_wm8960: sound-wm8960 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "axon-pi-wm8690-audio";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink_master>;
		simple-audio-card,frame-master = <&dailink_master>;
		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Speaker", "Speaker",
			"Headphone", "Headphone Jack";
		simple-audio-card,routing =
			"Headphone Jack", "HP_L",
			"Headphone Jack", "HP_R",
			"Speaker", "SPK_LP",
			"Speaker", "SPK_LN",
			"Speaker", "SPK_RP",
			"Speaker", "SPK_RN",
			"LINPUT1", "Mic Jack",
			"LINPUT3", "Mic Jack",
			"Mic Jack", "MICB";
		simple-audio-card,cpu {
			sound-dai = <&sai1>;
		};

		dailink_master: simple-audio-card,codec {
			sound-dai = <&codec_wm8960>;
			clocks = <&codec_osc>;
		};
	};

	clocks {
		codec_osc: aud_mclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
			clock-output-names = "wm8960-mclk";
		};
	};
};

&clk {
	assigned-clocks = <&clk IMX8MM_AUDIO_PLL1>, <&clk IMX8MM_AUDIO_PLL2>;
	assigned-clock-rates = <786432000>, <722534400>;
};

&iomuxc {
	imx8mm-axon {

		pinctrl_otg_vbus: otgvbusgrp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI1_TXD1_GPIO4_IO13		0x19   /* USB OTG VBUS Enable */
			>;
		};

		pinctrl_backlight_pwr: backlight_pwrgrp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI1_MCLK_GPIO4_IO20		0x19   /* GPIO_SPARE_1 / SAI1_MCLK */
			>;
		};

		pinctrl_dsi_pwm: dsi_pwm {
			fsl,pins = <
				MX8MM_IOMUXC_SPDIF_EXT_CLK_PWM1_OUT		0x16	/* DSI PWM */
			>;
		};

		pinctrl_tusb320_irq: tusb320_irqgrp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI3_RXC_GPIO4_IO29		0x41    /* UART_B_CTS */
			>;
		};

		pinctrl_csi_pwn: csi_pwn_grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI3_TXD_GPIO5_IO1		       0x19  /* GPIO_X3_P67 */
			>;
		};

		pinctrl_csi_rst: csi_rst_grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI2_TXD0_GPIO4_IO26		    0x19  /* GPIO_X3_P65 */
				MX8MM_IOMUXC_GPIO1_IO14_CCMSRCGPCMIX_CLKO1	0x59  /* GPIO_X3_P69 */
			>;
		};

		pinctrl_mipi_dsi_rst: mipi_dsi_rst {
			fsl,pins = <
				MX8MM_IOMUXC_SPDIF_RX_GPIO5_IO4	    0x16   /* PWM2 / DSI RST */
			>;
		};

		pinctrl_ft5336_touch_irq: ft5336_irqgrp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI1_RXD7_GPIO4_IO9	0x19   /* GPIO_X2_P20, Touch INT */
			>;
		};

		pinctrl_ft5336_touch_rst: ft5336_rstgrp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI2_MCLK_GPIO4_IO27	0x16   /* GPIO_X2_P22, Touch RST */
			>;
		};

		pinctrl_usdhc2_pwr: usdhc2rstgrp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI2_TXC_GPIO4_IO25	0x41   /* GPIO_X2_P24 */
			>;
		};
	};
};

&AXON_I2C_A {  // I2C_A
	status = "okay";

	codec_wm8960: wm8960@1a {
		compatible = "wlf,wm8960";
		reg = <0x1a>;
		#sound-dai-cells = <0>;
		clocks = <&codec_osc>;  /* Note:  AXON-PI the clock is external osc */
		clock-names = "mclk";
		wlf,shared-lrclk;
		wlf,fixed-mclk;
	};

	rtc_ds1337: ds1337 {
		compatible = "dallas,ds1337";
		reg = <0x68>;
	};

	typec_tusb320:tusb320@47 {
		compatible = "ti,tusb320";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_tusb320_irq>;
		reg = <0x47>;
		vbus-supply = <&reg_usb_otg_vbus>;
		tusb320,int-gpio = <&gpio4 29 GPIO_ACTIVE_LOW>;
		tusb320,select-mode = <0>;
		tusb320,dfp-power = <0>;
	};
};

&AXON_I2C_B {  // I2C_B
	status = "okay";

	ov5640_mipi: ov5640_mipi@3c {
		compatible = "ovti,ov5645_mipi_v2";
		reg = <0x3c>;
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_csi_pwn>, <&pinctrl_csi_rst>;
		clocks = <&clk IMX8MM_CLK_CLKO1_DIV>;
		clock-names = "csi_mclk";
		assigned-clocks = <&clk IMX8MM_CLK_CLKO1_SRC>,
				  <&clk IMX8MM_CLK_CLKO1_DIV>;
		assigned-clock-parents = <&clk IMX8MM_CLK_24M>;
		assigned-clock-rates = <0>, <24000000>;
		csi_id = <0>;
		pwn-gpios = <&gpio5 1 GPIO_ACTIVE_LOW>;
		rst-gpios = <&gpio4 26 GPIO_ACTIVE_HIGH>;
		mclk = <24000000>;
		mclk_source = <0>;
		port {
			ov5640_mipi1_ep: endpoint {
				remote-endpoint = <&mipi1_sensor_ep>;
			};
		};
	};
};

&AXON_I2C_C {  // I2C_C
	status = "okay";

	polytouch: edt-ft5x06@38 {
		compatible = "edt,edt-ft5x06";
		reg = <0x38>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ft5336_touch_irq &pinctrl_ft5336_touch_rst>;
		interrupt-parent = <&gpio4>;
		interrupts = <9 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&gpio4 27 GPIO_ACTIVE_LOW>;
		touchscreen-size-x = <720>;
		touchscreen-size-y = <1280>;
		status="okay";
	};
};

&AXON_I2C_BRD_CONF {

	eeprom_baseboard: eeprom@51 {
		compatible = "at,24c02";
		reg = <0x51>;
	};
};

&csi1_bridge {
	fsl,mipi-mode;
	status = "okay";
	port {
		csi1_ep: endpoint {
			remote-endpoint = <&csi1_mipi_ep>;
		};
	};
};

&mipi_csi_1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	port {
		mipi1_sensor_ep: endpoint1 {
			remote-endpoint = <&ov5640_mipi1_ep>;
			data-lanes = <2>;
			csis-hs-settle = <13>;
			csis-clk-settle = <2>;
			csis-wclk;
		};

		csi1_mipi_ep: endpoint2 {
			remote-endpoint = <&csi1_ep>;
		};
	};
};

&mipi_dsi {
	status = "okay";

	panel@0 {
		compatible = "bananapi,lhr050h41", "ilitek,ili9881c";
		reset-gpio = <&axonfabric 26 GPIO_ACTIVE_LOW>;
		reg = <0>;
		timing-mode = <0>;
		video-mode = <2>;	/* 0: burst mode
					 * 1: non-burst mode with sync event
					 * 2: non-burst mode with sync pulse
					 */
		status = "okay";
	};
};

&lcdif {
	status = "okay";
};

&AXON_AUD_A_I2S_CHANNEL {  // AUD_A
	status = "okay";
};

&pcie0{
	status = "disabled";
};

&usbotg1 {
	dr_mode = "otg";
	extcon = <0>, <&typec_tusb320>;
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	status = "okay";
};

/* Baseboard microSD slot */
&usdhc2 {
	vmmc-supply = <&reg_usdhc2_vmmc>;
	status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_dsi_pwm>;
	status = "okay";
};

&axonfabric {
	//				IOBank		  0    1    2    3    4    5    6    7    8    9    10   11   12
	iob-enable =      /bits/ 8 <0xFF 0xFF 0x00 0xFC 0x1F 0x00 0x00 0xFC 0xF0 0x7F 0x1F 0x00 0x0F>;
	iob-pushpull =    /bits/ 8 <0xFF 0xFE 0x00 0xFF 0x07 0x00 0x00 0xFC 0xFF 0x7F 0x1F 0xF0 0x0F>;
	iob-direction =   /bits/ 8 <0xFA 0x02 0x00 0x03 0x18 0x00 0x00 0xEC 0xE6 0x01 0x01 0x00 0x0E>;
	iob-selection-0 = /bits/ 8 <0x00 0x80 0x00 0xFF 0x10 0xFF 0x1F 0x00 0x00 0x00 0x00 0xF0 0x00>;
	iob-selection-1 = /bits/ 8 <0x00 0x00 0x00 0xFF 0x10 0xFF 0x1F 0x00 0x00 0x00 0x00 0xF0 0x00>;
};

&AXON_SPI_A {
	status = "okay";
};

&AXON_SPI_B {
	status = "okay";
};
