// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2020 TechNexion Ltd.
 *
 * Author: Ray Chang <ray.chang@technexion.com>
 *
 */

/dts-v1/;

#include "imx8mm-flex.dtsi"

&gpio1 {
	pinctrl-0 = <&pinctrl_gpio1>;
	gpio-line-names =	\
		"WL_REG_ON", "PWM1", "", "BT_REG_ON", "", "CSI_P1_nRST", "CSI_P1_PWDN", "USB_HUB_RESET",	\
		"GPIO_P258", "USB_OTG_PWR_EN", "DSI1_EN", "DSI1_RST", "DSI1_VDDEN", "PWM2", "CSI_P1_CLK", "",	\
		"", "", "", "", "", "", "", "",	\
		"", "", "", "", "", "", "", "";
};

&gpio3 {
	pinctrl-0 = <&pinctrl_gpio3>;
	gpio-line-names =	\
		"WL_WAKE_HOST", "ENET_PWR_EN", "", "", "", "", "GPIO_P242", "PMIC_nINT",	\
		"USB_OTG_OC", "GPIO_P246", "", "", "", "", "", "",	\
		"BT_WAKE_HOST", "", "", "GPIO_P252", "GPIO_P240", "", "", "",	\
		"GPIO_P248", "GPIO_P250", "", "", "", "", "", "";
};

&gpio4 {
	pinctrl-0 = <&pinctrl_gpio4>;
	gpio-line-names =	\
		"BRD_CONF_SCL", "BRD_CONF_SDA", "", "", "", "", "", "",	\
		"", "", "", "", "", "", "", "",	\
		"", "", "", "", "GPIO_P256", "", "", "",	\
		"", "", "", "", "GPIO_P244", "", "", "";
};

/ {
	model = "TechNexion FLEX-IMX8MM and PI baseboard";
	compatible = "fsl,imx8mm-flex", "fsl,imx8mm";

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_usdhc2_vmmc: regulator-usdhc2 {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usdhc2_gpio>;
			compatible = "regulator-fixed";
			regulator-name = "SD_3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio2 19 GPIO_ACTIVE_HIGH>;
			off-on-delay = <20000>;
			enable-active-high;
		};

		reg_usb_otg_vbus: usb_otg_vbus {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_otg_vbus>;
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio1 9 GPIO_ACTIVE_LOW>;
			enable-active-low;
		};

		reg_backlight_pwr: regulator_blpwr {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_backlight_pwr>;
			compatible = "regulator-fixed";
			regulator-name = "backlight_pwr";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio1 12 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};
	};

	backlight_mipi {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 50000 0>;
		brightness-levels = <0 36 72 108 144 180 216 255>;
		default-brightness-level = <6>;
		power-supply = <&reg_backlight_pwr>;
		status = "disabled";
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_led>;

		led {
			label = "gpio-led";
			gpios = <&gpio3 24 GPIO_ACTIVE_HIGH>;
		};
	};
};

&iomuxc {
	pinctrl_gpio1: gpio1grp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO10_GPIO1_IO10	0x19 /* DSI1_EN */
		>;
	};

	pinctrl_gpio3: gpio3grp {
		fsl,pins = <
			MX8MM_IOMUXC_NAND_DATA00_GPIO3_IO6	0x19 /* GPIO_P242 */
			MX8MM_IOMUXC_NAND_DATA03_GPIO3_IO9	0x19 /* GPIO_P246, KEY_PREV */
			MX8MM_IOMUXC_NAND_DATA02_GPIO3_IO8	0x19 /* USB_OTG_OC */
			MX8MM_IOMUXC_SAI5_RXFS_GPIO3_IO19	0x19 /* GPIO_P252, KEY_MUTE */
			MX8MM_IOMUXC_SAI5_RXC_GPIO3_IO20	0x19 /* GPIO_P240, KEY_UP */
			MX8MM_IOMUXC_SAI5_MCLK_GPIO3_IO25	0x19 /* GPIO_P250, KEY_DOWN */
		>;
	};

	pinctrl_gpio4: gpio4grp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI3_RXFS_GPIO4_IO28	0x19 /* GPIO_P244 */
		>;
	};

	pinctrl_otg_vbus: otgvbusgrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO09_GPIO1_IO9	0x19 /* USB OTG VBUS Enable */
		>;
	};

	pinctrl_backlight_pwr: backlight_pwrgrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO12_GPIO1_IO12	0x19
		>;
	};

	pinctrl_dsi_pwm: dsi_pwmgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SPDIF_EXT_CLK_PWM1_OUT	0x16 /* DSI PWM */
		>;
	};

	pinctrl_tusb320_irq: tusb320_irqgrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO08_GPIO1_IO8	0x41 /* GPIO_P258, TUSB320 INT*/
		>;
	};

	pinctrl_csi_pwn: csi_pwn_grp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO06_GPIO1_IO6	0x19
		>;
	};

	pinctrl_csi_rst: csi_rst_grp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO05_GPIO1_IO5		0x19
			MX8MM_IOMUXC_GPIO1_IO14_CCMSRCGPCMIX_CLKO1	0x59
		>;
	};

	pinctrl_mipi_dsi_rst: mipi_dsi_rstgrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO11_GPIO1_IO11	0x16 /* DSI RST */
		>;
	};

	pinctrl_touch_irq: touch_irqgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SPDIF_RX_GPIO5_IO4		0x19 /* GPIO_P254, Touch INT */
		>;
	};

	pinctrl_touch_rst: touch_rstgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI1_MCLK_GPIO4_IO20	0x16 /* GPIO_P256, Touch RST */
		>;
	};

	pinctrl_gpio_led: gpioledgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI5_RXD3_GPIO3_IO24	0x19 /* GPIO_P248 */
		>;
	};

	pinctrl_tfa98xx: tfa98xx_ctrlgrp {
		fsl,pins = <
			MX8MM_IOMUXC_ECSPI2_SCLK_GPIO5_IO10	0x19 /* RST */
			MX8MM_IOMUXC_ECSPI2_MISO_GPIO5_IO12	0x19 /* INT */
		>;
	};

	pinctrl_gpio_key_voicehat: gpiokey_voicehatgrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO13_GPIO1_IO13	0x41 /* PWM2, KEY_PLAY */
			MX8MM_IOMUXC_SAI5_RXD3_GPIO3_IO24	0x41 /* GPIO_P248, KEY_NEXT */
			MX8MM_IOMUXC_ECSPI2_SS0_GPIO5_IO13	0x41 /* ECSPI2_SS0, KEY_PAIR */
			MX8MM_IOMUXC_SPDIF_TX_GPIO5_IO3		0x41 /* PWM3, KEY_ACT */
		>;
	};

	pinctrl_clix_bt_ctrl: clixbt_ctrlgrp {
		fsl,pins = <
			MX8MM_IOMUXC_ECSPI2_SCLK_GPIO5_IO10	0x41 /* CLIX_BT_HOST_WAKE */
			MX8MM_IOMUXC_ECSPI2_MOSI_GPIO5_IO11	0x41 /* CLIX_BT_REG_ON */
		>;
	};

	pinctrl_clix_wifi_ctrl: clixwifi_ctrlgrp {
		fsl,pins = <
			MX8MM_IOMUXC_ECSPI2_MISO_GPIO5_IO12	0x41 /* CLIX_WL_HOST_WAKE */
			MX8MM_IOMUXC_ECSPI2_SS0_GPIO5_IO13	0x41 /* CLIX_WL_REG_ON */
		>;
	};
};

&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	typec_tusb320:tusb320@67 {
		compatible = "ti,tusb320";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_tusb320_irq>;
		reg = <0x67>;
		vbus-supply = <&reg_usb_otg_vbus>;
		tusb320,int-gpio = <&gpio1 8 GPIO_ACTIVE_LOW>;
		tusb320,select-mode = <0>;
		tusb320,dfp-power = <0>;
	};
};

&lcdif {
	status = "okay";
};

&usbotg1 {
	dr_mode = "otg";
	extcon = <0>, <&typec_tusb320>;
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	status = "okay";
};

/* SD card on Baseboard */
&usdhc2 {
	vmmc-supply = <&reg_usdhc2_vmmc>;
	status = "okay";
};

&ecspi2 {
	status = "okay";

	spidev0: spi@0 {
		reg = <0>;
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <500000>;
	};
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_dsi_pwm>;
	status = "okay";
};

&pwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm2>;
	status = "okay";
};

&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3>;
	status = "okay";
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
	status = "okay";
};
