/*
 * Copyright 2019 Technexion Ltd.
 * Copyright 2018 NXP
 *
 * Author: Andy Lin <andy.lin@technexion.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

#include "imx8mm-axon-wizard.dts"

/ {
	model = "TechNexion AXON-IMX8MM and WIZARD baseboard with 5 inch MIPI display";

	regulators {
		reg_mipi_pwr: regulator_mipipwr {
			pinctrl-names = "default";
			compatible = "regulator-fixed";
			regulator-name = "mipi_pwr";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&pca9554 0 GPIO_ACTIVE_HIGH>;
			regulator-always-on;
			enable-active-high;
		};
	
		reg_backlight_pwr {
			status = "disabled";
		};
	};

	backlight_mipi_pwm2 {
		compatible = "pwm-backlight";
		pwms = <&pwm2 0 50000 0>;
		brightness-levels = <0 36 72 108 144 180 216 255>;
		default-brightness-level = <7>;
		status = "okay";
	};
};

&iomuxc {
	imx8mm-axon {
		pinctrl_dsi_pwm: dsi_pwm {
			fsl,pins = <
				MX8MM_IOMUXC_SPDIF_RX_PWM2_OUT			0x16	/* DSI PWM */
			>;
		};
	};
};

&AXON_I2C_C {  // I2C_C
	status = "okay";

	pca9554: pca9554@23 {
		compatible = "nxp,pca9554";
		pinctrl-names = "default";
		reg = <0x23>;
		gpio-controller;
		#gpio-cells = <2>;
		status = "okay";
	};
};

&mipi_dsi {
	status = "okay";
	panel@0 {
		compatible = "bananapi,lhr050h41", "ilitek,ili9881c";
		power-gpio = <&pca9554 2 GPIO_ACTIVE_HIGH>;
		reset-gpio = <&pca9554 5 GPIO_ACTIVE_LOW>;
		reg = <0>; 
		timing-mode = <0>;
		video-mode = <2>;
		/*
		0: burst mode
		1: non-burst mode with sync event
		2: non-burst mode with sync pulse
		*/
		status = "okay";
	};
};

&pwm1 {
	status = "disabled";
};

&pwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_dsi_pwm>;
	status = "okay";
};
