// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2018 Wandboard, Org.
 * Copyright 2017 NXP
 *
 * Author: Richard Hu <hakahu@gmail.com>
 */

/dts-v1/;

#include "imx8mq-pico.dtsi"

/ {
	model = "TechNexion PICO-IMX8MQ and PICO-PI-IMX8MQ baseboard";
	compatible = "pico,imx8mq-pico", "fsl,imx8mq";

	chosen {
		stdout-path = &uart1;
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";

		led {
			label = "gpio-led";
			pintctrl-0 = <&pinctrl_led>;
			gpios = <&gpio5 5 0>;
			linux,default-trigger = "heartbeat";
		};
	};

	reg_usb_otg_vbus: regulator-usb-otg-vbus {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_otg_vbus>;
		compatible = "regulator-fixed";
		regulator-name = "usb_otg_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio3 14 GPIO_ACTIVE_LOW>;
	};
};

&usb3_phy0 {
	status = "okay";
};

&usb3_phy1 {
	status = "okay";
};

&usb_dwc3_1 {
	dr_mode = "host";
	status = "okay";
};

&vpu {
	status = "okay";
};

&gpu3d {
	status = "okay";
};

&irqsteer {
	status = "okay";
};

&dcss {
	status = "okay";

	port@0 {
		dcss_out: endpoint {
			remote-endpoint = <&hdmi_in>;
		};
	};
};

&hdmi {
	compatible = "cdn,imx8mq-hdmi";
	lane-mapping = <0xe4>;
	status = "okay";
	port@1 {
		hdmi_in: endpoint {
			remote-endpoint = <&dcss_out>;
		};
	};
};

&iomuxc {

	pinctrl_otg_vbus: otgvbusgrp {
		fsl,pins = <
			MX8MQ_IOMUXC_NAND_DQS_GPIO3_IO14		0x19   /* USB OTG VBUS Enable */
		>;
	};
};
