// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2024 TechNexion Ltd.
 *
 * Author: Ray Chang <ray.chang@technexion.com>
 */

/dts-v1/;

#include <dt-bindings/phy/phy-imx8-pcie.h>
#include <dt-bindings/usb/pd.h>
#include "imx8mp-edm-g.dtsi"
#include "imx8mp-nxp-display.dtsi"
#include "imx8mp-nxp-capture.dtsi"

/ {
	compatible = "technexion,edm-g-imx8mp-wb", "technexion,edm-g-imx8mp", "fsl,imx8mp";
	model = "TechNexion EDM-G-IMX8MP SOM on WB-EDM-G";

	connector {
		compatible = "usb-c-connector";
		data-role = "dual";
		label = "USB-C";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				hs_ep: endpoint {
					remote-endpoint = <&usb3_hs_ep>;
				};
			};

			port@1 {
				reg = <1>;

				ss_ep: endpoint {
					remote-endpoint = <&hd3ss3220_in_ep>;
				};
			};
		};
	};

	leds {
		compatible = "gpio-leds";

		led {
			default-state = "on";
			gpios = <&expander2 1 GPIO_ACTIVE_HIGH>;
			label = "gpio-led";
		};
	};

	lvds_backlight: lvds-backlight {
		compatible = "pwm-backlight";
		brightness-levels = <0 36 72 108 144 180 216 255>;
		default-brightness-level = <6>;
		pwms = <&pwm2 0 50000 0>;
		status = "disabled";
	};

	pcie0_refclk: clock-pcie-ref {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
	};

	reg_enet_power_en: regulator-enet-power-en {
		compatible = "regulator-fixed";
		pinctrl-0 = <&pinctrl_enet_pwr>;
		pinctrl-names = "default";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "enet_pwr";
		gpio = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};

	reg_lvds_pwr: regulator-lvdspwr {
		compatible = "regulator-fixed";
		pinctrl-0 = <&pinctrl_lvds0_pwr>;
		pinctrl-names = "default";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "lvds0_vdden";
		gpio = <&gpio4 12 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_lvds_backlight_pwr: regulator-lvdsblpwr {
		compatible = "regulator-fixed";
		pinctrl-0 = <&pinctrl_lvds0_backlight_pwr>;
		pinctrl-names = "default";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "lvds0_bl_en";
		gpio = <&gpio4 14 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};

	reg_pwr_3v3: regulator-pwr-3v3 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "pwr-3v3";
	};

	reg_pwr_5v: regulator-pwr-5v {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <5000000>;
		regulator-min-microvolt = <5000000>;
		regulator-name = "pwr-5v";
	};

	reg_usb_otg_vbus: regulator-usb-otg-vbus {
		compatible = "regulator-fixed";
		pinctrl-0 = <&pinctrl_otg_vbus>;
		pinctrl-names = "default";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "usb_otg_vbus";
		gpio = <&gpio4 0 GPIO_ACTIVE_LOW>;
		enable-active-low;
	};

	sound-hdmi {
		compatible = "fsl,imx-audio-hdmi";
		audio-cpu = <&aud2htx>;
		hdmi-out;
		model = "audio-hdmi";
	};

	sound-wm8960 {
		compatible = "fsl,imx-audio-wm8960";
		audio-asrc = <&easrc>;
		audio-codec = <&wm8960>;
		audio-cpu = <&sai3>;
		audio-routing = "Headphone Jack", "HP_L",
			"Headphone Jack", "HP_R",
			"Ext Spk", "SPK_LP",
			"Ext Spk", "SPK_LN",
			"Ext Spk", "SPK_RP",
			"Ext Spk", "SPK_RN",
			"LINPUT1", "Mic Jack",
			"LINPUT1", "Mic Jack",
			"Mic Jack", "MICB";
		/* JD2: hp detect high for headphone*/
		hp-det = <2 0>;
		model = "wm8960-audio";
	};

	usb_hub_rst: usb-hub-rst {
		compatible = "gpio-reset";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_usb_hub_ctrl>;
		reset-gpios = <&gpio4 22 GPIO_ACTIVE_LOW>;
		reset-delay-us = <10>;
		#reset-cells = <0>;
	};
};

&aud2htx {
	status = "okay";
};

&cameradev {
	status = "okay";
};

&dewarp {
	status = "okay";
};

&easrc {
	fsl,asrc-rate  = <48000>;
	status = "okay";
};

&ecspi1 {
	status = "okay";

	spidev1: spi@0 {
		reg = <0>;
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <500000>;
	};
};

&flexcan1 {
	status = "okay";
};

&gpio1 {
	gpio-line-names =
		"", "", "", "", "", "", "DSI_RST", "",
		"", "", "", "", "", "PCIE_CLKREQ_N", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
	pinctrl-0 = <&pinctrl_gpio1>;
};

&gpio4 {
	gpio-line-names =
		"", "", "", "", "", "", "GPIO_P249", "GPIO_P251",
		"", "GPIO_P255", "", "", "", "", "", "",
		"DSI_BL_EN", "DSI_VDDEN", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
	pinctrl-0 = <&pinctrl_gpio4>;
};

&hdmi_blk_ctrl {
	status = "okay";
};

&hdmi_pavi {
	status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmiphy {
	status = "okay";
};

&i2c2 {
	status = "okay";

	wm8960: audio-codec@1a {
		compatible = "wlf,wm8960";
		reg = <0x1a>;
		clocks = <&audio_blk_ctrl IMX8MP_CLK_AUDIOMIX_SAI3_MCLK1>;
		clock-names = "mclk";
		#sound-dai-cells = <0>;
		AVDD-supply = <&reg_pwr_3v3>;
		DBVDD-supply = <&reg_pwr_3v3>;
		DCVDD-supply = <&reg_pwr_3v3>;
		SPKVDD1-supply = <&reg_pwr_5v>;
		SPKVDD2-supply = <&reg_pwr_5v>;
		wlf,gpio-cfg = <1 2>;
		wlf,hp-cfg = <2 2 3>;
		wlf,shared-lrclk;
	};

	expander1: gpio@21 {
		compatible = "nxp,pca9555";
		reg = <0x21>;
		// #interrupt-cells = <2>;
		// interrupt-controller;
		// interrupt-parent = <&gpio1>;
		// interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
		#gpio-cells = <2>;
		gpio-controller;
		gpio-line-names = "EXPOSURE_TRIG_IN1", "FLASH_OUT1",
				  "INFO_TRIG_IN1", "CAM_SHUTTER1", "XVS1",
				  "PWR1_TIME0", "PWR1_TIME1", "PWR1_TIME2",
				  "EXPOSURE_TRIG_IN2", "FLASH_OUT2",
				  "INFO_TRIG_IN2", "CAM_SHUTTER2", "XVS2",
				  "PWR2_TIME0", "PWR2_TIME1", "PWR2_TIME2";
		// pinctrl-0 = <&pinctrl_expander1_irq>;
		pinctrl-names = "default";
	};

	expander2: gpio@23 {
		compatible = "nxp,pca9555";
		reg = <0x23>;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupt-parent = <&gpio4>;
		interrupts = <11 IRQ_TYPE_LEVEL_LOW>;
		#gpio-cells = <2>;
		gpio-controller;
		gpio-line-names = "M2_DISABLE_N", "LED_EN", "", "",
				  "", "", "", "USB_OTG_OC",
				  "EXT_GPIO8", "EXT_GPIO9", "", "",
				  "", "CSI1_PDB", "CSI2_PDB", "PD_FAULT";
		pinctrl-0 = <&pinctrl_expander2_irq>;
		pinctrl-names = "default";
	};

	usb_typec: usb-typec@67 {
		compatible = "ti,hd3ss3220";
		reg = <0x67>;
		interrupts-extended = <&gpio4 8 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&pinctrl_hd3ss3220_irq>;
		pinctrl-names = "default";
		vbus-supply = <&reg_usb_otg_vbus>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				hd3ss3220_in_ep: endpoint {
					remote-endpoint = <&ss_ep>;
				};
			};

			port@1 {
				reg = <1>;

				hd3ss3220_out_ep: endpoint {
					remote-endpoint = <&usb3_role_switch>;
				};
			};
		};
	};
};

&i2c_0 {
	eeprom2: eeprom@51 {
		compatible = "atmel,24c02";
		reg = <0x51>;
		pagesize = <16>;
	};
};

&isi_0 {
	status = "okay";

	cap_device {
		status = "okay";
	};
};

&isi_1 {
	status = "okay";

	cap_device {
		status = "okay";
	};
};

&lcdif1 {
	status = "okay";
};

&lcdif2 {
	status = "okay";
};

&lcdif3 {
	status = "okay";

	thres-low  = <1 2>;             /* (FIFO * 1 / 2) */
	thres-high = <3 4>;             /* (FIFO * 3 / 4) */
};

&pcie {
	ext_osc = <1>;
	status = "okay";
};

&pcie_phy {
	clocks = <&pcie0_refclk>;
	clock-names = "ref";
	fsl,clkreq-unsupported;
	fsl,refclk-pad-mode = <IMX8_PCIE_REFCLK_PAD_INPUT>;
	status = "okay";
};

&snvs_pwrkey {
	status = "okay";
};

&usb3_0 {
	status = "okay";
};

&usb3_1 {
	status = "okay";
};

&usb3_phy0 {
	status = "okay";
};

&usb3_phy1 {
	status = "okay";
};

&usb_dwc3_0 {
	dr_mode = "otg";
	pinctrl-names = "default";
	usb-role-switch;
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			usb3_hs_ep: endpoint {
				remote-endpoint = <&hs_ep>;
			};
		};

		port@1 {
			reg = <1>;

			usb3_role_switch: endpoint {
				remote-endpoint = <&hd3ss3220_out_ep>;
			};
		};
	};
};

&usb_dwc3_1 {
	dr_mode = "host";
	resets = <&usb_hub_rst>;
};

&vpu_v4l2 {
	status = "okay";
};

&iomuxc {
	pinctrl_csi0_pwn: csi0_pwn_grp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO07__GPIO1_IO07		0x9
		>;
	};

	pinctrl_csi0_rst: csi0_rst_grp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO08__GPIO1_IO08		0x9
			MX8MP_IOMUXC_GPIO1_IO14__CCM_CLKO1		0x59
		>;
	};

	pinctrl_csi1_pwn: csi1_pwn_grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_RXD3__GPIO4_IO05		0x9
		>;
	};

	pinctrl_csi1_rst: csi1_rst_grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_RXD2__GPIO4_IO04		0x9
			MX8MP_IOMUXC_GPIO1_IO15__CCM_CLKO2		0x59
		>;
	};

	pinctrl_enet_pwr: enetpwrgrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO11__GPIO1_IO11		0x11
		>;
	};

	pinctrl_expander1_irq: expander1-irqgrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO10__GPIO1_IO10		0x140 /* SPI_B_SS0 */
		>;
	};

	pinctrl_expander2_irq: expander2-irqgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_TXC__GPIO4_IO11		0x140 /* GPIO_P247 */
		>;
	};

	pinctrl_gpio1: gpio1grp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO06__GPIO1_IO06		0x16 /* DSI_RST */
		>;
	};

	pinctrl_gpio4: gpio4grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_RXD4__GPIO4_IO06		0x16 /* GPIO_P249 */
			MX8MP_IOMUXC_SAI1_RXD5__GPIO4_IO07		0x16 /* GPIO_P251 */
			MX8MP_IOMUXC_SAI1_RXD7__GPIO4_IO09		0x16 /* GPIO_P255 */
			MX8MP_IOMUXC_SAI1_TXD4__GPIO4_IO16		0x16 /* DSI_BL_EN */
			MX8MP_IOMUXC_SAI1_TXD5__GPIO4_IO17		0x16 /* DSI_VDDEN */
		>;
	};

	pinctrl_hd3ss3220_irq: hd3ss3220-irqgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_RXD6__GPIO4_IO08		0x41 /* GPIO_P253 */
		>;
	};

	pinctrl_hdmi: hdmigrp {
		fsl,pins = <
			MX8MP_IOMUXC_HDMI_DDC_SCL__HDMIMIX_HDMI_SCL	0x1c2
			MX8MP_IOMUXC_HDMI_DDC_SDA__HDMIMIX_HDMI_SDA	0x1c2
			MX8MP_IOMUXC_HDMI_CEC__HDMIMIX_HDMI_CEC		0x10
		>;
	};

	pinctrl_lvds0_backlight_pwr: lvds0_bl_pwrgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_TXD2__GPIO4_IO14		0x19 /* LVDS0_BL_EN */
		>;
	};

	pinctrl_lvds0_pwr: lvds0_pwrgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_TXD0__GPIO4_IO12		0x19 /* LVDS0_VDDEN */
		>;
	};

	pinctrl_otg_vbus: otgvbusgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_RXFS__GPIO4_IO00		0x19 /* USB_OTG_PWR_EN */
		>;
	};

	pinctrl_usb_hub_ctrl: usbhubctrlgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI2_RXC__GPIO4_IO22		0x41 /* USB_HUB_RESET */
		>;
	};

	pinctrl_touch_irq: touch_irqgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_TXD3__GPIO4_IO15	0x41   /* Touch INT */
		>;
	};

	pinctrl_touch_reset: touch_rstgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_TXD1__GPIO4_IO13		0x41 /* TOUCH_nRST, LVDS1_VDDEN */
		>;
	};
};
