// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2024 TechNexion Ltd.
 *
 * Author: Nian Yang <nian.yang@technexion.com>
 *
 */

#include "imx93-11x11-evk.dts"

/ {
	model = "NXP i.MX93 11x11 EVK board with TechNexion TEVI OV5640 camera";
	
	/delete-node/ regulator-dvdd_sel;
	/delete-node/ regulator-dvdd;
	/delete-node/ regulator-vdd;
	/delete-node/ regulator-vddo;
	/delete-node/ regulator-vaa_sel;
	/delete-node/ regulator-avdd;
};

&lpi2c3 {
	clock-frequency = <400000>;

	/delete-node/ ap1302_mipi@3c;
	/delete-node/ mfd-isp@34;
	
	pca9554_a27_0: pca9554@27 {
		compatible = "nxp,pca9554";
		pinctrl-names = "default";
		reg = <0x27>;
		gpio-controller;
		#gpio-cells = <2>;
		status = "okay";
		gpio-line-names = "EXPOSURE_TRIG_IN1", "FLASH_OUT1", "CAM_SHUTTER1", "XVS1",
							"CSI1_PDB", "CSI1_INT", "INFO_TRIG_IN1", "CSI1_RST_N";
	};

	ov5640_mipi: ov5640_mipi@3c {
		compatible = "ovti,ov5640";
		reg = <0x3c>;
		clocks = <&clk IMX93_CLK_CCM_CKO3>;
		clock-names = "xclk";		
		assigned-clocks = <&clk IMX93_CLK_CCM_CKO3>;
		assigned-clock-rates = <24000000>;

		// DOVDD-supply = <&vgen4_reg>; /* 1.8v */
		// AVDD-supply = <&vgen3_reg>;  /* 2.8v */
		// DVDD-supply = <&vgen2_reg>;  /* 1.5v */

		powerdown-gpios = <&pca9554_a27_0 6 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&adp5585gpio 0 GPIO_ACTIVE_LOW>;
		rotation = <180>;

		status = "okay";

		port {
			ov5640_mipi_csi2_ep: endpoint {
				remote-endpoint = <&mipi_csi_ep>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
	};
};

&mipi_csi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	port@0 {
		reg = <0>;
		mipi_csi_ep: endpoint {
			remote-endpoint = <&ov5640_mipi_csi2_ep>;
			data-lanes = <2>;
			cfg-clk-range = <28>;
			hs-clk-range = <0x16>;
			bus-type = <4>;
		};
	};
};