// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022 NXP
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx93-axon.dtsi"

/ {
	model = "TechNexion AXON-IMX93 and WB baseboard";
	compatible = "fsl,imx93-axon", "fsl,imx93";

	reg_usb_otg_vbus: usb_otg_vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb_otg_vbus";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&pcal6524 22 GPIO_ACTIVE_LOW>;
		enable-active-low;
	};

	usb_hub_rst: usb_hub_rst {
		compatible = "gpio-reset";
		reset-gpios = <&adp5585gpio 2 GPIO_ACTIVE_LOW>;
		reset-delay-us = <10>;
		#reset-cells = <0>;
	};

	reg_lvds_pwr: regulator_lvdspwr {
		compatible = "regulator-fixed";
		regulator-name = "lvds0_vdden";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&adp5585gpio 5 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		status = "disabled";
	};


	reg_lvds_backlight_pwr: regulator_lvdsblpwr {
		compatible = "regulator-fixed";
		regulator-name = "lvds0_bl_en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&adp5585gpio 7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		status = "disabled";
	};


	lvds_backlight: lvds_backlight {
		compatible = "pwm-backlight";
		pwms = <&adp5585pwm 0 50000 0>;
		brightness-levels = <0 36 72 108 144 180 216 255>;
		default-brightness-level = <6>;
		status = "disabled";
	};

	reg_lcd_backlight_en: regulator_lcdblen {
		compatible = "regulator-fixed";
		regulator-name = "lcd_bl_en";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&adp5585gpio 4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		status = "disabled";
	};

/*	adp5585 have only one pwm output, this is backup for future PCB.
	lcd_backlight: lcd_backlight {
		compatible = "pwm-backlight";
		pwms = <&adp5585pwm 6 50000 0>;
		brightness-levels = <0 36 72 108 144 180 216 255>;
		default-brightness-level = <6>;
		status = "disabled";
	};
*/
	lcd_backlight: lcd_backlight {
		compatible = "regulator-fixed";
		regulator-name = "lcd_bl_full_duty_cycle";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&adp5585gpio 6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		status = "disabled";
	};

	tlv320_mclk: clk-0 {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <12000000>;
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "tlv320aic3x-audio";
		simple-audio-card,widgets =
			"Headphone", "Headphone Jack",
			"Microphone", "Mic Jack";
		simple-audio-card,routing =
			"Headphone Jack", "HPLOUT",
			"Headphone Jack", "HPROUT",
			"MIC2R", "Mic Jack",
			"Mic Jack", "Mic Bias";
		simple-audio-card,format = "dsp_b";
		simple-audio-card,bitclock-master = <&sound_master>;
		simple-audio-card,frame-master = <&sound_master>;
		simple-audio-card,bitclock-inversion;
		status = "okay";

		simple-audio-card,cpu {
			sound-dai = <&sai1>;
		};

		sound_master: simple-audio-card,codec {
			sound-dai = <&tlv320aic3104>;
			clocks = <&tlv320_mclk>;
		};
	};
};

&sai1 {
	status = "okay";
};

&lpi2c2 {
	status = "okay";

	pca9554bs_a3b: pca9554bs@3b {
		compatible = "nxp,pca9554";
		reg = <0x3b>;
		vcc-supply = <&reg_3p3v>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&pcal6524>;
		interrupts = <16 IRQ_TYPE_EDGE_FALLING>;
		status = "okay";
		gpio-line-names = "M2_DISABLE_N", "LED_EN", "USB_OTG_OC", "EXT_GPIO8",
					"EXT_GPIO9", "CSI1_PDB", "AUD_A_SW", "PD_FAULT";
	};

	tca9555_a21: tca9555@21 {
		compatible = "nxp,pca9555";
		reg = <0x21>;
		vcc-supply = <&reg_1p8v>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&pcal6524>;
		interrupts = <19 IRQ_TYPE_EDGE_FALLING>;
		gpio-line-names = "EXPOSURE_TRIG_IN1", "FLASH_OUT1","INFO_TRIG_IN1", "CAM_SHUTTER1",
			"XVS1", "PWR1_TIME0","PWR1_TIME1", "PWR1_TIME2",
			"", "","", "","", "","", "";
	};

	typec_hd3ss3220: hd3ss3220@67 {
		compatible = "ti,hd3ss3220";
		interrupts-extended = <&pcal6524 17 IRQ_TYPE_EDGE_FALLING>;
		vbus-supply = <&reg_usb_otg_vbus>;
		reg = <0x67>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				hd3ss3220_in_ep: endpoint {
					remote-endpoint = <&otg1_out_ep>;
				};
			};

			port@1 {
				reg = <1>;
				hd3ss3220_out_ep: endpoint {
					remote-endpoint = <&otg1_in_ep>;
				};
			};
		};
	};

	tlv320aic3104: audio-codec@18 {
		#sound-dai-cells = <0>;
		compatible = "ti,tlv320aic3104";
		reg = <0x18>;
		status = "okay";
		reset-gpios = <&adp5585gpio 0 GPIO_ACTIVE_LOW>;
		ai3x-ocmv = <0>;
		ai3x-micbias-vg = <1>;		/* 2.0V */

		/* Regulators */
		AVDD-supply = <&reg_3p3v>;
		IOVDD-supply = <&reg_3p3v>;
		DRVDD-supply = <&reg_3p3v>;
		DVDD-supply = <&reg_1p8v>;
	};
};

&usbotg1 {
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			otg1_out_ep: endpoint {
				remote-endpoint = <&hd3ss3220_in_ep>;
			};
		};

		port@1 {
			reg = <1>;
			otg1_in_ep: endpoint {
				remote-endpoint = <&hd3ss3220_out_ep>;
			};
		};
	};
};

&usbotg2 {
	dr_mode = "host";
	status = "okay";
};

&flexcan1 {
	status = "okay";
};
