// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2025 TechNexion Ltd.
 *
 * Author: Richard Hu <richard.hu@technexion.com>
 *
 */

/dts-v1/;

#include "imx95.dtsi"

/ {
	bt_sco_codec: bt_sco_codec {
		compatible = "linux,bt-sco";
		#sound-dai-cells = <1>;
	};

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		stdout-path = &lpuart1;

		/* will be updated by U-boot when booting Xen */
		module@0 {
			compatible = "xen,linux-zimage", "xen,multiboot-module";
			reg = <0x00000000 0x9e000000 0x00000000 0x2000000>;
			bootargs = "earlycon=xen console=hvc0 loglevel=8 root=/dev/mmcblk1p2 rw rootwait";
		};
	};

	cm7: imx95-cm7 {
		compatible = "fsl,imx95-cm7";
		mboxes = <&mu7 0 1
			  &mu7 1 1
			  &mu7 3 1>;
		mbox-names = "tx", "rx", "rxdb";
		memory-region = <&vdevbuffer>, <&vdev0vring0>, <&vdev0vring1>,
				<&vdev1vring0>, <&vdev1vring1>, <&rsc_table>;
		/* cpuid and lmmid must align with SM firmware */
		fsl,cpu-id = <1>;
		fsl,lmm-id = <1>;
		fsl,startup-delay-ms = <50>;
		status = "okay";
	};

	reg_1p8v: regulator-1p8v {
		compatible = "regulator-fixed";
		regulator-max-microvolt = <1800000>;
		regulator-min-microvolt = <1800000>;
		regulator-name = "+V1.8_SW";
	};

	reg_3p3v: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "+V3.3_SW";
	};

	reg_vref_1v8: regulator-adc-vref {
		compatible = "regulator-fixed";
		regulator-max-microvolt = <1800000>;
		regulator-min-microvolt = <1800000>;
		regulator-name = "vref_1v8";
	};

	reg_usb_otg_vbus: regulator-otg-vbus {
		compatible = "regulator-fixed";
		enable-active-low;
		pinctrl-names = "default";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "usb_otg_vbus";
		gpio = <&tca9555_a22 0 GPIO_ACTIVE_LOW>;
	};

	reg_usdhc2_vmmc: regulator-usdhc2 {
		compatible = "regulator-fixed";
		off-on-delay-us = <12000>;
		pinctrl-0 = <&pinctrl_reg_usdhc2_vmmc>;
		pinctrl-names = "default";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "VDD_SD2_3V3";
		gpio = <&gpio3 7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	wl_reg_on: regulator-wl-reg-on {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "WL_REG_ON";
		startup-delay-us = <100>;
		gpio = <&tca9555_a22 9 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		/* WL_REG_ON */
		/*
		 * IW612 wifi chip needs more delay than other wifi chips to complete
		 * the host interface initialization after power up, otherwise the
		 * internal state of IW612 may be unstable, resulting in the failure of
		 * the SDIO3.0 switch voltage.
		 */
		off-on-delay = <20000>;
	};

	reserved-memory {
		ranges;
		#address-cells = <2>;
		#size-cells = <2>;

		linux_cma: linux,cma {
			compatible = "shared-dma-pool";
			alloc-ranges = <0 0x80000000 0 0x7f000000>;
			reusable;
			size = <0 0x3c000000>;
			linux,cma-default;
		};

		vdev0vring0: vdev0vring0@88000000 {
			reg = <0 0x88000000 0 0x8000>;
			no-map;
		};

		vdev0vring1: vdev0vring1@88008000 {
			reg = <0 0x88008000 0 0x8000>;
			no-map;
		};

		vdev1vring0: vdev1vring0@88010000 {
			reg = <0 0x88010000 0 0x8000>;
			no-map;
		};

		vdev1vring1: vdev1vring1@88018000 {
			reg = <0 0x88018000 0 0x8000>;
			no-map;
		};

		vdevbuffer: vdevbuffer@88020000 {
			compatible = "shared-dma-pool";
			reg = <0 0x88020000 0 0x100000>;
			no-map;
		};

		rsc_table: rsc-table@88220000 {
			reg = <0 0x88220000 0 0x1000>;
			no-map;
		};

		vpu_boot: vpu_boot@a0000000 {
			reg = <0 0xa0000000 0 0x100000>;
			no-map;
		};
	};

	sound-bt-sco {
		compatible = "simple-audio-card";
		simple-audio-card,bitclock-inversion;
		simple-audio-card,bitclock-master = <&btcpu>;
		simple-audio-card,format = "dsp_a";
		simple-audio-card,frame-master = <&btcpu>;
		simple-audio-card,name = "bt-sco-audio";

		simple-audio-card,codec {
			sound-dai = <&bt_sco_codec 1>;
		};

		btcpu: simple-audio-card,cpu {
			dai-tdm-slot-num = <2>;
			dai-tdm-slot-width = <16>;
			sound-dai = <&sai1>;
		};
	};

	sound-micfil {
		compatible = "fsl,imx-audio-card";
		model = "micfil-audio";

		pri-dai-link {
			format = "i2s";
			link-name = "micfil hifi";

			cpu {
				sound-dai = <&micfil>;
			};
		};
	};

	wlan_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		/* SDIO_REG_ON */
		reset-gpios = <&tca9555_a22 11 GPIO_ACTIVE_LOW>;
	};

	memory@80000000 {
		reg = <0x0 0x80000000 0 0x80000000>;
		device_type = "memory";
	};
};

&adc1 {
	vref-supply = <&reg_vref_1v8>;
	status = "okay";
};

&displaymix_irqsteer {
	status = "okay";
};

&dpu {
	status = "okay";
};

&enetc_port1 {
	/* RTL8211F on SOM */
	pinctrl-names = "default";
	phy-handle = <&ethphy1>;
	phy-mode = "rgmii-id";
	pinctrl-0 = <&pinctrl_enetc1>;
	status = "okay";
};

&flexcan2 {
	/* CAN_2 on EDM */
	pinctrl-0 = <&pinctrl_flexcan2>;
	pinctrl-names = "default";
};

&flexcan3 {
	/* CAN_1 on EDM */
	pinctrl-0 = <&pinctrl_flexcan3>;
	pinctrl-names = "default";
};

&lpi2c2 {
	clock-frequency = <400000>;
	pinctrl-0 = <&pinctrl_lpi2c2>;
	pinctrl-names = "default";
	status = "okay";
};

&lpi2c3 {
	/* I2C_C on EDM */
	clock-frequency = <400000>;
	pinctrl-0 = <&pinctrl_lpi2c3>;
	pinctrl-names = "default";
	status = "okay";
};

&lpi2c4 {
	/* I2C_D on EDM */
	clock-frequency = <400000>;
	pinctrl-0 = <&pinctrl_lpi2c4>;
	pinctrl-names = "default";
	status = "okay";
};

&lpi2c5 {
	/* I2C_B on EDM */
	clock-frequency = <100000>;
	pinctrl-0 = <&pinctrl_lpi2c5>;
	pinctrl-names = "default";
	status = "okay";
};

&lpi2c6 {
	/* I2C_A on EDM */
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-0 = <&pinctrl_lpi2c6>;
	pinctrl-names = "default";
	status = "okay";

	tca9555_a21: gpio@21 {
		compatible = "nxp,pca9555";
		reg = <0x21>;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupt-parent = <&gpio3>;
		interrupts = <26 IRQ_TYPE_LEVEL_LOW>;
		#gpio-cells = <2>;
		gpio-controller;
		gpio-line-names = "LVDS0_VDDEN", "LVDS0_BL_EN", "LVDS1_VDDEN", "LVDS1_BL_EN", "CSI1_RST_N",
				"CSI1_PWDN", "CSI2_RST_N", "CSI2_PWDN", "PCIE1_WAKE_N", "PCIE1_CLKREQ_N",
				"PCIE1_RST_N", "PCIE2_WAKE_N", "PCIE2_CLKREQ_N", "PCIE2_RST_N", "EXP_GPIO5",
				"USB_SS_SEL";
		pinctrl-0 = <&pinctrl_tca9555_a21_irq>;
		pinctrl-names = "default";
		vcc-supply = <&reg_3p3v>;
		status = "okay";

		tca9555_a21_pins_default: tca9555_a21_pins_default {
			drive-open-drain;
			pins = "PCIE1_CLKREQ_N", "PCIE2_CLKREQ_N";
		};
	};

	tca9555_a22: gpio@22 {
		compatible = "nxp,pca9555";
		reg = <0x22>;
		#gpio-cells = <2>;
		gpio-controller;
		gpio-line-names = "USB_OTG_PWR_EN", "ENET1_RST", "ENET2_RST", "BT_REG_ON", "RST_IND",
				"WL_GPIO0", "HOST_WAKE_WL", "HOST_WAKE_BT", "IW612_IND_RST_15.4", "WL_REG_ON",
				"IW612_GPIO27", "SDIO_REG_ON", "EXP_GPIO1", "EXP_GPIO2", "EXP_GPIO3",
				"EXP_GPIO4";
		vcc-supply = <&reg_3p3v>;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupt-parent = <&gpio5>;
		interrupts = <17 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&pinctrl_tca9555_a22_irq>;
		pinctrl-names = "default";
		status = "okay";

	};
};

&lpspi3 {
	/* lpspi3 work as a master bus */
	cs-gpios = <&gpio2 8 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&pinctrl_lpspi3>;
	pinctrl-names = "default";
	fsl,spi-num-chipselects = <1>;
	status = "okay";

	spidev0: spi@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <500000>;
	};
};

&lpuart1 {
	/* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&lpuart5 {
	/* RS232 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	status = "okay";
};

&lpuart6 {
	/* BT */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	status = "okay";

	bluetooth {
		compatible = "nxp,88w8997-bt";
		fw-init-baudrate = <3000000>;
	};
};

&micfil {
	assigned-clocks = <&scmi_clk IMX95_CLK_AUDIOPLL1_VCO>,
			  <&scmi_clk IMX95_CLK_AUDIOPLL2_VCO>,
			  <&scmi_clk IMX95_CLK_AUDIOPLL1>,
			  <&scmi_clk IMX95_CLK_AUDIOPLL2>,
			  <&scmi_clk IMX95_CLK_PDM>;
	assigned-clock-parents = <0>, <0>, <0>, <0>,
				 <&scmi_clk IMX95_CLK_AUDIOPLL1>;
	assigned-clock-rates = <3932160000>,
			       <3612672000>, <393216000>,
			       <361267200>, <49152000>;
	#sound-dai-cells = <0>;
	pinctrl-0 = <&pinctrl_pdm>;
	pinctrl-names = "default";
	status = "okay";
};

&mu7 {
	status = "okay";
};

&netcmix_blk_ctrl {
	status = "okay";
};

&netc_blk_ctrl {
	status = "okay";
};

&netc_emdio {
	pinctrl-0 = <&pinctrl_emdio>;
	pinctrl-names = "default";
	status = "okay";

	/* RTL8211F on SOM */
	ethphy1: ethernet-phy@1 {
		reg = <1>;
		compatible = "ethernet-phy-ieee802.3-c22";
		eee-broken-1000t;
		reset-assert-us = <35000>;
		reset-deassert-us = <75000>;
		reset-gpios = <&tca9555_a22 2 GPIO_ACTIVE_LOW>;
		realtek,aldps-disable;
		realtek,clkout-disable;
	};
};

&netc_timer {
	status = "okay";
};

&pcie0 {
	reset-gpio = <&tca9555_a21 10 GPIO_ACTIVE_LOW>;
};

&pcie1 {
	reset-gpio = <&tca9555_a21 13 GPIO_ACTIVE_LOW>;
};

&sai1 {
	assigned-clocks = <&scmi_clk IMX95_CLK_AUDIOPLL1_VCO>,
			  <&scmi_clk IMX95_CLK_AUDIOPLL2_VCO>,
			  <&scmi_clk IMX95_CLK_AUDIOPLL1>,
			  <&scmi_clk IMX95_CLK_AUDIOPLL2>,
			  <&scmi_clk IMX95_CLK_SAI1>;
	assigned-clock-parents = <0>, <0>, <0>, <0>,
				 <&scmi_clk IMX95_CLK_AUDIOPLL1>;
	assigned-clock-rates = <3932160000>,
			       <3612672000>, <393216000>,
			       <361267200>, <12288000>;
	#sound-dai-cells = <0>;
	pinctrl-0 = <&pinctrl_sai1>;
	pinctrl-names = "default";
	fsl,sai-mclk-direction-output;
	status = "okay";
};

&sai3 {
	assigned-clocks = <&scmi_clk IMX95_CLK_AUDIOPLL1_VCO>,
			  <&scmi_clk IMX95_CLK_AUDIOPLL2_VCO>,
			  <&scmi_clk IMX95_CLK_AUDIOPLL1>,
			  <&scmi_clk IMX95_CLK_AUDIOPLL2>,
			  <&scmi_clk IMX95_CLK_SAI3>;
	assigned-clock-parents = <0>, <0>, <0>, <0>,
				 <&scmi_clk IMX95_CLK_AUDIOPLL1>;
	assigned-clock-rates = <3932160000>,
			       <3612672000>, <393216000>,
			       <361267200>, <12288000>;
	#sound-dai-cells = <0>;
	pinctrl-0 = <&pinctrl_sai3>;
	pinctrl-names = "default";
	fsl,sai-mclk-direction-output;
	status = "okay";
};

&sai5 {
	assigned-clocks = <&scmi_clk IMX95_CLK_AUDIOPLL1_VCO>,
			  <&scmi_clk IMX95_CLK_AUDIOPLL2_VCO>,
			  <&scmi_clk IMX95_CLK_AUDIOPLL1>,
			  <&scmi_clk IMX95_CLK_AUDIOPLL2>,
			  <&scmi_clk IMX95_CLK_SAI5>;
	assigned-clock-parents = <0>, <0>, <0>, <0>,
				 <&scmi_clk IMX95_CLK_AUDIOPLL1>;
	assigned-clock-rates = <3932160000>,
			       <3612672000>, <393216000>,
			       <361267200>, <12288000>;
	#sound-dai-cells = <0>;
	pinctrl-0 = <&pinctrl_sai5>;
	pinctrl-names = "default";
	fsl,sai-mclk-direction-output;
	status = "okay";
};

&thermal_zones {
	a55-thermal {
		trips {
			atrip2: trip2 {
				hysteresis = <2000>;
				temperature = <55000>;
				type = "active";
			};

			atrip3: trip3 {
				hysteresis = <2000>;
				temperature = <65000>;
				type = "active";
			};

			atrip4: trip4 {
				hysteresis = <2000>;
				temperature = <75000>;
				type = "active";
			};
		};
	};

	pf09 {
		polling-delay = <2000>;
		polling-delay-passive = <250>;
		thermal-sensors = <&scmi_sensor 2>;

		trips {

			pf09_alert: trip0 {
				hysteresis = <2000>;
				temperature = <140000>;
				type = "passive";
			};

			pf09_crit: trip1 {
				hysteresis = <2000>;
				temperature = <155000>;
				type = "critical";
			};
		};
	};

	pf53_arm {
		polling-delay = <2000>;
		polling-delay-passive = <250>;
		thermal-sensors = <&scmi_sensor 4>;

		cooling-maps {
			map0 {
				cooling-device = <&A55_0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A55_1 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A55_2 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A55_3 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A55_4 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A55_5 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				trip = <&pf5301_alert>;
			};
		};

		trips {

			pf5301_alert: trip0 {
				hysteresis = <2000>;
				temperature = <140000>;
				type = "passive";
			};

			pf5301_crit: trip1 {
				hysteresis = <2000>;
				temperature = <155000>;
				type = "critical";
			};
		};
	};

	pf53_soc {
		polling-delay = <2000>;
		polling-delay-passive = <250>;
		thermal-sensors = <&scmi_sensor 3>;

		trips {

			pf5302_alert: trip0 {
				hysteresis = <2000>;
				temperature = <140000>;
				type = "passive";
			};

			pf5302_crit: trip1 {
				hysteresis = <2000>;
				temperature = <155000>;
				type = "critical";
			};
		};
	};
};

&tpm5 {
	pinctrl-0 = <&pinctrl_tpm5>;
	pinctrl-names = "default";
	status = "okay";
};

&usb2 {
	adp-disable;
	dr_mode = "otg";
	hnp-disable;
	srp-disable;
	usb-role-switch;
	picophy,dc-vol-level-adjust = <7>;
	picophy,pre-emp-curr-control = <3>;
	status = "okay";
};

&usb3 {
	status = "okay";
};

&usb3_dwc3 {
	dr_mode = "host";
	status = "okay";
};

&usb3_phy {
	fsl,phy-pcs-tx-deemph-3p5db-attenuation-db = <17>;
	fsl,phy-pcs-tx-swing-full-percent = <100>;
	fsl,phy-tx-preemp-amp-tune-microamp = <600>;
	fsl,phy-tx-vboost-level-microvolt = <1156>;
	status = "okay";
};

&usdhc1 {
	bus-width = <8>;
	non-removable;
	no-sd;
	no-sdio;
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	pinctrl-3 = <&pinctrl_usdhc1>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	status = "okay";
};

&usdhc2 {
	bus-width = <4>;
	cd-gpios = <&gpio3 00 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-3 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	vmmc-supply = <&reg_usdhc2_vmmc>;
	status = "okay";
};

&usdhc3 {
	bus-width = <4>;
	keep-power-in-suspend;
	mmc-pwrseq = <&wlan_pwrseq>;
	non-removable;
	pinctrl-0 = <&pinctrl_usdhc3>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>;
	pinctrl-3 = <&pinctrl_usdhc3>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	vmmc-supply = <&wl_reg_on>;
	wakeup-source;
	status = "okay";
};

&vpuctrl {
	boot = <&vpu_boot>;
	sram = <&sram1>;
};

&wdog3 {
	fsl,ext-reset-output;
	status = "okay";
};

&scmi_iomuxc {
	pinctrl_emdio: emdiogrp {
		fsl,pins = <
			IMX95_PAD_ENET2_MDC__NETCMIX_TOP_NETC_MDC		0x57e
			IMX95_PAD_ENET2_MDIO__NETCMIX_TOP_NETC_MDIO		0x97e
		>;
	};

	pinctrl_enetc1: enetc1grp {
		fsl,pins = <
			IMX95_PAD_ENET2_TD3__NETCMIX_TOP_ETH1_RGMII_TD3		0x57e
			IMX95_PAD_ENET2_TD2__NETCMIX_TOP_ETH1_RGMII_TD2		0x57e
			IMX95_PAD_ENET2_TD1__NETCMIX_TOP_ETH1_RGMII_TD1		0x57e
			IMX95_PAD_ENET2_TD0__NETCMIX_TOP_ETH1_RGMII_TD0		0x57e
			IMX95_PAD_ENET2_TX_CTL__NETCMIX_TOP_ETH1_RGMII_TX_CTL	0x57e
			IMX95_PAD_ENET2_TXC__NETCMIX_TOP_ETH1_RGMII_TX_CLK	0x58e
			IMX95_PAD_ENET2_RX_CTL__NETCMIX_TOP_ETH1_RGMII_RX_CTL	0x57e
			IMX95_PAD_ENET2_RXC__NETCMIX_TOP_ETH1_RGMII_RX_CLK	0x58e
			IMX95_PAD_ENET2_RD0__NETCMIX_TOP_ETH1_RGMII_RD0		0x57e
			IMX95_PAD_ENET2_RD1__NETCMIX_TOP_ETH1_RGMII_RD1		0x57e
			IMX95_PAD_ENET2_RD2__NETCMIX_TOP_ETH1_RGMII_RD2		0x57e
			IMX95_PAD_ENET2_RD3__NETCMIX_TOP_ETH1_RGMII_RD3		0x57e
		>;
	};

	pinctrl_flexcan2: flexcan2grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO25__CAN2_TX			0x39e
			IMX95_PAD_GPIO_IO27__CAN2_RX			0x39e
		>;
	};

	pinctrl_flexcan3: flexcan1grp {
		fsl,pins = <
			IMX95_PAD_CCM_CLKO3__CAN3_TX			0x39e
			IMX95_PAD_CCM_CLKO4__CAN3_RX			0x39e
		>;
	};

	pinctrl_lpi2c1: lpi2c1grp {
		fsl,pins = <
			IMX95_PAD_I2C1_SCL__AONMIX_TOP_LPI2C1_SCL	0x40000b9e
			IMX95_PAD_I2C1_SDA__AONMIX_TOP_LPI2C1_SDA	0x40000b9e
		>;
	};

	pinctrl_lpi2c2: lpi2c2grp {
		fsl,pins = <
			IMX95_PAD_I2C2_SCL__AONMIX_TOP_LPI2C2_SCL	0x40000b9e
			IMX95_PAD_I2C2_SDA__AONMIX_TOP_LPI2C2_SDA	0x40000b9e
		>;
	};

	pinctrl_lpi2c3: lpi2c3grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO28__LPI2C3_SDA			0x40000b9e
			IMX95_PAD_GPIO_IO29__LPI2C3_SCL			0x40000b9e
		>;
	};

	pinctrl_lpi2c4: lpi2c4grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO30__LPI2C4_SDA			0x40000b9e
			IMX95_PAD_GPIO_IO31__LPI2C4_SCL			0x40000b9e
		>;
	};

	pinctrl_lpi2c5: lpi2c5grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO22__LPI2C5_SDA			0x40000b9e
			IMX95_PAD_GPIO_IO23__LPI2C5_SCL			0x40000b9e
		>;
	};

	pinctrl_lpi2c6: lpi2c6grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO04__LPI2C6_SDA			0x40000b9e
			IMX95_PAD_GPIO_IO05__LPI2C6_SCL			0x40000b9e
		>;
	};

	pinctrl_lpspi3: lpspi3grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO08__GPIO2_IO_BIT8	0x3fe
			IMX95_PAD_GPIO_IO09__LPSPI3_SIN		0x3fe
			IMX95_PAD_GPIO_IO10__LPSPI3_SOUT	0x3fe
			IMX95_PAD_GPIO_IO11__LPSPI3_SCK		0x3fe
		>;
	};

	pinctrl_i3c2: i3c2grp {
		fsl,pins = <
			IMX95_PAD_ENET1_MDC__I3C2_SCL			0x40000186
			IMX95_PAD_ENET1_MDIO__I3C2_SDA			0x40000186
		>;
	};


	pinctrl_i3c2_sleep: i3c2sleepgrp {
		fsl,pins = <
			IMX95_PAD_ENET1_MDC__GPIO4_IO_BIT0			0x31e
			IMX95_PAD_ENET1_MDIO__GPIO4_IO_BIT1			0x31e
		>;
	};

	pinctrl_mipi_dsi_csi: mipidsigrp {
		fsl,pins = <
			IMX95_PAD_CCM_CLKO2__GPIO3_IO_BIT27			0x31e
		>;
	};

	pinctrl_tca9555_a21_irq: pca9555_a21_irqgrp {
		fsl,pins = <
			IMX95_PAD_CCM_CLKO1__GPIO3_IO_BIT26			0x31e
		>;
	};

	pinctrl_tca9555_a22_irq: pca9555_a22_irqgrp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO37__GPIO5_IO_BIT17			0x31e
		>;
	};

	pinctrl_pdm: pdmgrp {
		fsl,pins = <
			IMX95_PAD_PDM_CLK__AONMIX_TOP_PDM_CLK				0x31e
			IMX95_PAD_PDM_BIT_STREAM0__AONMIX_TOP_PDM_BIT_STREAM_BIT0	0x31e
		>;
	};

	pinctrl_reg_usdhc2_vmmc: regusdhc2vmmcgrp {
		fsl,pins = <
			IMX95_PAD_SD2_RESET_B__GPIO3_IO_BIT7			0x31e
		>;
	};

	pinctrl_sai1: sai1grp {
		fsl,pins = <
			IMX95_PAD_SAI1_RXD0__AONMIX_TOP_SAI1_RX_DATA_BIT0    0x31e
			IMX95_PAD_SAI1_TXC__AONMIX_TOP_SAI1_TX_BCLK      0x31e
			IMX95_PAD_SAI1_TXFS__AONMIX_TOP_SAI1_TX_SYNC     0x31e
			IMX95_PAD_SAI1_TXD0__AONMIX_TOP_SAI1_TX_DATA_BIT0    0x31e
		>;
	};

	pinctrl_sai3: sai3grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO17__SAI3_MCLK					0x31e
			IMX95_PAD_GPIO_IO16__SAI3_TX_BCLK				0x31e
			IMX95_PAD_GPIO_IO26__SAI3_TX_SYNC				0x31e
			IMX95_PAD_GPIO_IO20__SAI3_RX_DATA_BIT0			0x31e
			IMX95_PAD_GPIO_IO21__SAI3_TX_DATA_BIT0			0x31e
		>;
	};

	pinctrl_sai5: sai5grp {
		fsl,pins = <
			IMX95_PAD_XSPI1_DATA4__SAI5_TX_DATA_BIT0			0x31e
			IMX95_PAD_XSPI1_DATA5__SAI5_TX_SYNC					0x31e
			IMX95_PAD_XSPI1_DATA6__SAI5_TX_BCLK					0x31e
			IMX95_PAD_XSPI1_DATA7__SAI5_RX_DATA_BIT0			0x31e
		>;
	};

	pinctrl_tpm5: tpm5grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO06__TPM5_CH0			0x51e
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			IMX95_PAD_UART1_RXD__AONMIX_TOP_LPUART1_RX      0x31e
			IMX95_PAD_UART1_TXD__AONMIX_TOP_LPUART1_TX      0x31e
		>;
	};

	pinctrl_uart5: uart5grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO00__LPUART5_TX				0x31e
			IMX95_PAD_GPIO_IO01__LPUART5_RX				0x31e
			IMX95_PAD_GPIO_IO02__LPUART5_CTS_B			0x31e
			IMX95_PAD_GPIO_IO03__LPUART5_RTS_B			0x31e
		>;
	};

	pinctrl_uart6: uart6grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO32__LPUART6_TX				0x31e
			IMX95_PAD_GPIO_IO33__LPUART6_RX				0x31e
			IMX95_PAD_GPIO_IO34__LPUART6_CTS_B			0x31e
			IMX95_PAD_GPIO_IO35__LPUART6_RTS_B			0x31e
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			IMX95_PAD_SD1_CLK__USDHC1_CLK				0x158e
			IMX95_PAD_SD1_CMD__USDHC1_CMD				0x138e
			IMX95_PAD_SD1_DATA0__USDHC1_DATA0			0x138e
			IMX95_PAD_SD1_DATA1__USDHC1_DATA1			0x138e
			IMX95_PAD_SD1_DATA2__USDHC1_DATA2			0x138e
			IMX95_PAD_SD1_DATA3__USDHC1_DATA3			0x138e
			IMX95_PAD_SD1_DATA4__USDHC1_DATA4			0x138e
			IMX95_PAD_SD1_DATA5__USDHC1_DATA5			0x138e
			IMX95_PAD_SD1_DATA6__USDHC1_DATA6			0x138e
			IMX95_PAD_SD1_DATA7__USDHC1_DATA7			0x138e
			IMX95_PAD_SD1_STROBE__USDHC1_STROBE			0x158e
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1-100mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD1_CLK__USDHC1_CLK				0x158e
			IMX95_PAD_SD1_CMD__USDHC1_CMD				0x138e
			IMX95_PAD_SD1_DATA0__USDHC1_DATA0			0x138e
			IMX95_PAD_SD1_DATA1__USDHC1_DATA1			0x138e
			IMX95_PAD_SD1_DATA2__USDHC1_DATA2			0x138e
			IMX95_PAD_SD1_DATA3__USDHC1_DATA3			0x138e
			IMX95_PAD_SD1_DATA4__USDHC1_DATA4			0x138e
			IMX95_PAD_SD1_DATA5__USDHC1_DATA5			0x138e
			IMX95_PAD_SD1_DATA6__USDHC1_DATA6			0x138e
			IMX95_PAD_SD1_DATA7__USDHC1_DATA7			0x138e
			IMX95_PAD_SD1_STROBE__USDHC1_STROBE			0x158e
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1-200mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD1_CLK__USDHC1_CLK				0x15fe
			IMX95_PAD_SD1_CMD__USDHC1_CMD				0x13fe
			IMX95_PAD_SD1_DATA0__USDHC1_DATA0			0x13fe
			IMX95_PAD_SD1_DATA1__USDHC1_DATA1			0x13fe
			IMX95_PAD_SD1_DATA2__USDHC1_DATA2			0x13fe
			IMX95_PAD_SD1_DATA3__USDHC1_DATA3			0x13fe
			IMX95_PAD_SD1_DATA4__USDHC1_DATA4			0x13fe
			IMX95_PAD_SD1_DATA5__USDHC1_DATA5			0x13fe
			IMX95_PAD_SD1_DATA6__USDHC1_DATA6			0x13fe
			IMX95_PAD_SD1_DATA7__USDHC1_DATA7			0x13fe
			IMX95_PAD_SD1_STROBE__USDHC1_STROBE			0x15fe
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2gpiogrp {
		fsl,pins = <
			IMX95_PAD_SD2_CD_B__GPIO3_IO_BIT0			0x31e
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			IMX95_PAD_SD2_CLK__USDHC2_CLK				0x158e
			IMX95_PAD_SD2_CMD__USDHC2_CMD				0x138e
			IMX95_PAD_SD2_DATA0__USDHC2_DATA0			0x138e
			IMX95_PAD_SD2_DATA1__USDHC2_DATA1			0x138e
			IMX95_PAD_SD2_DATA2__USDHC2_DATA2			0x138e
			IMX95_PAD_SD2_DATA3__USDHC2_DATA3			0x138e
			IMX95_PAD_SD2_VSELECT__USDHC2_VSELECT			0x51e
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2-100mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD2_CLK__USDHC2_CLK				0x158e
			IMX95_PAD_SD2_CMD__USDHC2_CMD				0x138e
			IMX95_PAD_SD2_DATA0__USDHC2_DATA0			0x138e
			IMX95_PAD_SD2_DATA1__USDHC2_DATA1			0x138e
			IMX95_PAD_SD2_DATA2__USDHC2_DATA2			0x138e
			IMX95_PAD_SD2_DATA3__USDHC2_DATA3			0x138e
			IMX95_PAD_SD2_VSELECT__USDHC2_VSELECT			0x51e
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2-200mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD2_CLK__USDHC2_CLK				0x15be
			IMX95_PAD_SD2_CMD__USDHC2_CMD				0x13be
			IMX95_PAD_SD2_DATA0__USDHC2_DATA0			0x13be
			IMX95_PAD_SD2_DATA1__USDHC2_DATA1			0x13be
			IMX95_PAD_SD2_DATA2__USDHC2_DATA2			0x13be
			IMX95_PAD_SD2_DATA3__USDHC2_DATA3			0x13be
			IMX95_PAD_SD2_VSELECT__USDHC2_VSELECT			0x51e
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			IMX95_PAD_SD3_CLK__USDHC3_CLK				0x158e
			IMX95_PAD_SD3_CMD__USDHC3_CMD				0x138e
			IMX95_PAD_SD3_DATA0__USDHC3_DATA0			0x138e
			IMX95_PAD_SD3_DATA1__USDHC3_DATA1			0x138e
			IMX95_PAD_SD3_DATA2__USDHC3_DATA2			0x138e
			IMX95_PAD_SD3_DATA3__USDHC3_DATA3			0x138e
		>;
	};

	pinctrl_usdhc3_100mhz: usdhc3-100mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD3_CLK__USDHC3_CLK				0x158e
			IMX95_PAD_SD3_CMD__USDHC3_CMD				0x138e
			IMX95_PAD_SD3_DATA0__USDHC3_DATA0			0x138e
			IMX95_PAD_SD3_DATA1__USDHC3_DATA1			0x138e
			IMX95_PAD_SD3_DATA2__USDHC3_DATA2			0x138e
			IMX95_PAD_SD3_DATA3__USDHC3_DATA3			0x138e
		>;
	};

	pinctrl_usdhc3_200mhz: usdhc3-200mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD3_CLK__USDHC3_CLK				0x15fe
			IMX95_PAD_SD3_CMD__USDHC3_CMD				0x13fe
			IMX95_PAD_SD3_DATA0__USDHC3_DATA0			0x13fe
			IMX95_PAD_SD3_DATA1__USDHC3_DATA1			0x13fe
			IMX95_PAD_SD3_DATA2__USDHC3_DATA2			0x13fe
			IMX95_PAD_SD3_DATA3__USDHC3_DATA3			0x13fe
		>;
	};
};
