/dts-v1/;
/plugin/;

#include <dt-bindings/clock/imx8mm-clock.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include "../imx8mm-pinfunc.h"

/{
    fragment@0 {
        target-path = "/";
        __overlay__ {
           	model = "TechNexion AXON-IMX8MM, WIZARD baseboard, and Voicehat";

            sound-tfa9912 {
                compatible = "nxp,imx-audio-tfa98xx", "nxp,imx-tfa98xx";
                nxp,model = "TFA9912";
                cpu-dai = <&sai1>;
                ssi-controller = <&sai1>;
                nxp,audio-codec = <&tfa98xx_left &tfa98xx_right>;
                clocks = <&clk IMX8MM_CLK_SAI1>;
                nxp,audio-routing =
                    "Speaker", "OUTL",
                    "DMIC1", "Mic",
                    "DMIC2", "Mic",
                    "DMIC3", "Mic",
                    "DMIC4", "Mic";
                status = "okay";
            };

            sound-sph0645 {
                compatible = "nxp,imx-audio-sph0645", "nxp,imx-sph0645";
                nxp,model = "SPH0645";
                cpu-dai = <&sai5>;
                ssi-controller = <&sai5>;
                nxp,audio-codec = <&sound_record>;
                clocks = <&clk IMX8MM_CLK_SAI5>;
            };

            sound_record: codec {
                compatible = "knowles,sph0645";
            };

            leds {
                status = "disabled";
            };

            voicehat_keys {
                compatible = "gpio-keys-polled";
                poll-interval = <100>;
                autorepeat;

                prev {
                    gpios = <&axonfabric 59 GPIO_ACTIVE_LOW>;
                    label = "KEY PREV";
                    linux,code = <KEY_PREVIOUS>;
                };

                play {
                    gpios = <&axonfabric 78 GPIO_ACTIVE_LOW>;
                    label = "KEY PLAY";
                    linux,code = <KEY_PLAY>;
                };

                next {
                    gpios = <&axonfabric 95 GPIO_ACTIVE_LOW>;
                    label = "KEY NEXT";
                    linux,code = <KEY_NEXT>;
                };

                up {
                    gpios = <&axonfabric 94 GPIO_ACTIVE_LOW>;
                    label = "KEY UP";
                    linux,code = <KEY_UP>;
                };

                down {
                    gpios = <&axonfabric 92 GPIO_ACTIVE_LOW>;
                    label = "KEY DOWN";
                    linux,code = <KEY_DOWN>;
                };

                mute {
                    gpios = <&axonfabric 93 GPIO_ACTIVE_LOW>;
                    label = "KEY MUTE";
                    linux,code = <KEY_MUTE>;
                };

                pair {
                    gpios = <&axonfabric 75 GPIO_ACTIVE_LOW>;
                    label = "KEY PAIR";
                    linux,code = <KEY_SELECT>;
                };

                act {
                    gpios = <&axonfabric 5 GPIO_ACTIVE_LOW>;
                    label = "KEY ACT";
                    linux,code = <KEY_OK>;
                };
            };

        };
    };

    fragment@1 {
        target = <&i2c1>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            clock-frequency = <400000>;
            tfa98xx_left: tfa98xx_left {
                compatible = "nxp,tfa98xx";
                pinctrl-names = "default";
                pinctrl-0 = <&pinctrl_tfa98xx>;
                pcm_sample_format = <0>;
                reg = <0x34>;
                reset-gpio = <&gpio5 6 GPIO_ACTIVE_HIGH>;
                irq-gpio = <&gpio5 8 GPIO_ACTIVE_HIGH>;
            };

            tfa98xx_right: tfa98xx_right {
                compatible = "nxp,tfa98xx";
                reg = <0x35>;
            };
        };
    };

    fragment@2 {
        target = <&sai1>;
        __overlay__ {
            status = "okay";
        };
    };

    fragment@3 {
        target = <&sai5>;
        __overlay__ {
            status = "okay";
        };
    };

    fragment@4 {
        target = <&ecspi1>;
        __overlay__ {
            status = "disabled";
        };
    };

    fragment@5 {
        target = <&pwm2>;
        __overlay__ {
            status = "disabled";
        };
    };

    fragment@6 {
        target = <&pwm3>;
        __overlay__ {
            status = "disabled";
        };
    };

    fragment@7 {
        target = <&codec_wm8960>;
        __overlay__ {
            status = "disabled";
        };
    };

    fragment@8 {
        target = <&sound_wm8960>;
        __overlay__ {
            status = "disabled";
        };
    };

    fragment@9 {
        target = <&i2c2>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";

            /* PCA9955 - 16-bit RGB LED */
            led_pca9955: pca9955@60 {
                #address-cells = <1>;
                #size-cells = <0>;
                compatible = "nxp,pca9955";
                reg = <0x60>;

                led0 {
                    label = "blue0";
                    linux,default-trigger = "none";
                    reg = <0>;
                };

                led1 {
                    label = "green0";
                    linux,default-trigger = "none";
                    reg = <1>;
                };

                led2 {
                    label = "red0";
                    linux,default-trigger = "none";
                    reg = <2>;
                };

                led3 {
                    label = "blue1";
                    linux,default-trigger = "none";
                    reg = <3>;
                };

                led4 {
                    label = "green1";
                    linux,default-trigger = "none";
                    reg = <4>;
                };

                led5 {
                    label = "red1";
                    linux,default-trigger = "none";
                    reg = <5>;
                };

                led6 {
                    label = "blue2";
                    linux,default-trigger = "none";
                    reg = <6>;
                };

                led7 {
                    label = "green2";
                    linux,default-trigger = "none";
                    reg = <7>;
                };

                led8 {
                    label = "red2";
                    linux,default-trigger = "none";
                    reg = <8>;
                };

                led9 {
                    label = "blue3";
                    linux,default-trigger = "none";
                    reg = <9>;
                };

                led10 {
                    label = "green3";
                    linux,default-trigger = "none";
                    reg = <10>;
                };

                led11 {
                    label = "red3";
                    linux,default-trigger = "none";
                    reg = <11>;
                };

                led12 {
                    label = "blue4";
                    linux,default-trigger = "none";
                    reg = <12>;
                };

                led13 {
                    label = "green4";
                    linux,default-trigger = "none";
                    reg = <13>;
                };

                led14 {
                    label = "red4";
                    linux,default-trigger = "none";
                    reg = <14>;
                };

                led15 {
                    label = "blue5";
                    linux,default-trigger = "none";
                    reg = <15>;
                };
            };
        };
    };

    fragment@10 {
        target = <&pinmux_axonfabric>;
        __overlay__ {
            pinctrl_af_uart_a_rtscts: pcafuartartscts {
                function = "gpio";
            };

            pinctrl_af_pwm_x1_x2: pcafpwmx1x2 {
                function = "gpio";
            };

            pinctrl_af_can_gpio: pcafcan_gpio {
                function = "gpio";
            };

            pinctrl_af_spi_a_cs0_out: pcspia_cs0_out {
                function = "gpio";
            };

            pinctrl_af_gpiokeys: pcgpiokey {
                pins = "F_GPIO_X1_P76";
                function = "gpio"; drive-push-pull;
            };

            pinctrl_af_aud_a_out: pcafauda_out {
                pins = "F_AUD_A_TXD", "F_AUD_A_TXFS", "F_AUD_A_TXCLK";
                function = "passthru_out"; drive-push-pull;
            };

            pinctrl_af_aud_a_in: pcafauda_in {
                pins = "F_AUD_A_RXD";
                function = "passthru_in"; drive-push-pull;
            };

            pinctrl_af_sai5_out: sai5_out {
                pins = "F_AUD_B_TXD", "F_AUD_B_TXFS", "F_AUD_B_TXCLK";
                function = "passthru_out"; drive-push-pull;
            };

            pinctrl_af_sai5_in: sai5_in {
                pins = "F_AUD_B_RXD";
                function = "passthru_in"; drive-push-pull;
            };
        };
    };

    fragment@11 {
        target = <&iomuxc>;
        __overlay__ {
            pinctrl_tfa98xx: tfa98xx_ctrlgrp {
                fsl,pins = <
                    MX8MM_IOMUXC_ECSPI1_MOSI_GPIO5_IO7	0x19 /* RST */
                    MX8MM_IOMUXC_ECSPI1_MISO_GPIO5_IO8	0x19 /* INT */
                >;
            };
        };
    };
};
