// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2020 TechNexion Ltd.
 *
 * Author: Richard Hu <richard.hu@technexion.com>
 *         Ray Chang <ray.chang@technexion.com>
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/clock/imx8mm-clock.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	fragment@0 {
		target = <&csi1_bridge>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&mipi_csi_1>;
		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			port {
				mipi1_sensor_ep: endpoint@1 {
					remote-endpoint = <&tevi_ap1302_1_ep>;
					data-lanes = <2>;
					csis-hs-settle = <19>;
					csis-clk-settle = <2>;
					csis-wclk;
				};
			};
		};
	};

	fragment@2 {
		target = <&i2c2>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			tevi_ap1302_otp_1: tevi_ap1302_otp@54 {
				compatible = "atmel,24c1024";
				reg = <0x54>;
				pagesize = <256>;
				//read-only;
			};

			tevi_ap1302_mipi: tevi_ap1302_mipi@3d {
				compatible = "tn,tevi-ap1302";

				reg = <0x3d>;

				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_csi_rst>;
				host-power-gpios = <&pca9555_a21 10 GPIO_ACTIVE_LOW>;
				reset-gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
				device-power-gpios = <&pca9555_a21 0 GPIO_ACTIVE_HIGH>;
				standby-gpios = <&pca9555_a21 2 GPIO_ACTIVE_HIGH>;
				nvmem = <&tevi_ap1302_otp_1>;
				nvmem-names = "calib-data";
				data-lanes = <2>;
				continuous-clock = <0>;
				supports-over-4k-res;
				status = "okay";

				port {
					tevi_ap1302_1_ep: endpoint {
						remote-endpoint = <&mipi1_sensor_ep>;
					};
				};
			};
		};
	};
};
