// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2026 TechNexion Ltd.
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/clock/imx8mp-clock.h>
#include <dt-bindings/gpio/gpio.h>

/*
 * MIPI CSI hs_settle = (lane_rate - 5 MHz) / 45 MHz
 *                    = (1500 - 5) / 45
 *                    = 33
 */
&mipi_csi_1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	port@1 {
		reg = <1>;
		mipi_csi1_ep: endpoint {
			remote-endpoint = <&des_1_csi_0_out>;
			data-lanes = <4>;
			csis-hs-settle = <33>;
			csis-clk-settle = <2>;
		};
	};
};

&isi_1 {
	status = "okay";

	cam_iovdd_4: regulator-cam-iovdd-4 {
		compatible = "regulator-fixed";
		regulator-name = "cam_iovdd_4";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&ser_4 1 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <1000000>;
	};

	cap_device {
		status = "okay";
		fsl,stream-on-downstream-first;
	};
};

&i2c5 {
	#address-cells = <1>;
	#size-cells = <0>;

	des_1: max96724@2e {
		compatible = "maxim,max96724";
		reg = <0x2e>;
		status = "okay";

		#address-cells = <1>;
		#size-cells = <0>;

		enable-gpios = <&expander2 14 GPIO_ACTIVE_HIGH>;

		i2c-alias-pool = <0x41 0x42 0x43 0x44>;

		i2c-atr {
			#address-cells = <1>;
			#size-cells = <0>;

			des_1_i2c_0: i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;

				des_1_gmsl_a_in: endpoint@0 {
					remote-endpoint = <&ser_4_gmsl_out>;
				};
			};

			port@4 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <4>;

				des_1_csi_0_out: endpoint@0 {
					data-lanes = <1 2 3 4>;
					clock-lanes = <0>;
					bus-type = <4>;
					link-frequencies = /bits/ 64 <750000000>;
					remote-endpoint = <&mipi_csi1_ep>;
				};
			};
		};
	};
};

&des_1_i2c_0 {
	ser_4: serializer@40 {
		compatible = "maxim,max96717";
		reg = <0x40>;

		gpio-controller;
		#gpio-cells = <2>;
		#clock-cells = <0>;

		i2c-alias-pool = <0x29 0x5f>;

		pinctrl-names = "default";
		pinctrl-0 = <&ser_4_fsync &ser_4_standby
			     &ser_4_reset &ser_4_ext_en>;

		ser_4_fsync: mfp0-pins {
			pins = "mfp0";
			function = "gpio";
			maxim,rx-id = <0>;
			output-enable;
			output-low;
		};

		ser_4_standby: mfp3-pins {
			pins = "mfp3";
			function = "gpio";
			output-enable;
			output-low;
		};

		ser_4_reset: mfp4-pins {
			pins = "mfp4";
			function = "gpio";
			output-enable;
			output-low;
		};

		ser_4_ext_en: mfp8-pins {
			pins = "mfp8";
			function = "gpio";
			output-enable;
			output-high;
		};

		i2c-atr {
			#address-cells = <1>;
			#size-cells = <0>;

			i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;

				cam_4: tevs@48 {
					compatible = "tn,tevs";
					reg = <0x48>;
					status = "okay";
					reset-gpios = <&ser_4 4 GPIO_ACTIVE_HIGH>;
					standby-gpios = <&ser_4 3 GPIO_ACTIVE_HIGH>;

					port {
						cam_4_out: endpoint {
							remote-endpoint = <&ser_4_csi_in>;
							data-lanes = <1 2 3 4>;
							clock-lanes = <0>;
							link-frequencies = /bits/ 64 <400000000>;
						};
					};
				};

				imu_4: lsm6dsm@6a {
					compatible = "st,lsm6dso16is";
					reg = <0x6a>;
					vdd-supply = <&cam_iovdd_4>;
					vddio-supply = <&cam_iovdd_4>;
				};
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;
				ser_4_csi_in: endpoint {
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&cam_4_out>;
				};
			};

			port@1 {
				reg = <1>;
				ser_4_gmsl_out: endpoint {
					remote-endpoint = <&des_1_gmsl_a_in>;
				};
			};
		};
	};
};
