// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2023 TechNexion Ltd.
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/clock/imx8mp-clock.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	fragment@0 {
		target = <&mipi_csi_0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			port@0 {
				reg = <0>;
				mipi_csi0_ep: endpoint {
					remote-endpoint = <&tevs_0_ep>;
					data-lanes = <4>;
					csis-hs-settle = <19>;
					csis-clk-settle = <2>;
					csis-wclk;
				};
			};
		};
	};

	fragment@1 {
		target = <&mipi_csi_1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			port@1 {
				reg = <1>;
				mipi_csi1_ep: endpoint {
					remote-endpoint = <&tevs_1_ep>;
					data-lanes = <4>;
					csis-hs-settle = <19>;
					csis-clk-settle = <2>;
					csis-wclk;
				};
			};
		};
	};

	fragment@2 {
		target = <&i2c2>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			tevs_0: tevs@48 {
				compatible = "tn,tevs";
				reg = <0x48>;

				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_csi0_pwn>, <&pinctrl_csi0_rst>;
				reset-gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;
				data-lanes = <4>;
				continuous-clock = <0>;
				status = "okay";

				port {
					tevs_0_ep: endpoint {
						remote-endpoint = <&mipi_csi0_ep>;
					};
				};
			};
		};
	};

	fragment@3 {
		target = <&i2c5>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			tevs_1: tevs@48 {
				compatible = "tn,tevs";
				reg = <0x48>;

				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_csi1_pwn>, <&pinctrl_csi1_rst>;
				reset-gpios = <&gpio4 4 GPIO_ACTIVE_HIGH>;
				data-lanes = <4>;
				continuous-clock = <0>;
				status = "okay";

				port {
					tevs_1_ep: endpoint {
						remote-endpoint = <&mipi_csi1_ep>;
					};
				};
			};
		};
	};
};
