// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2020 TechNexion Ltd.
 *
 * Author: Richard Hu <richard.hu@technexion.com>
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	fragment@0 {
		target-path = "/";
		__overlay__ {
			backlight_mipi {
				status = "okay";
			};
		};
	};

	fragment@1 {
		target = <&mipi_dsi>;
		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			panel@0 {
				compatible = "tn,vizionpanel_15010276";
				reg = <0>;
				status = "okay";
			};
		};
	};

	fragment@2 {
		target = <&i2c4>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			exc80w46: touchscreen@2a {
				compatible = "eeti,exc80h60";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_mipi_touch_irq>;
				reg = <0x2a>;
				interrupt-parent = <&gpio2>;
				interrupts = <5 IRQ_TYPE_LEVEL_LOW>;
				reset-gpios = <&gpio2 4 GPIO_ACTIVE_LOW>;
				status = "okay";
			};
#if 0
			polytouch: edt-ft5x06@38 {
                                compatible = "edt,edt-ft5x06";
                                pinctrl-names = "default";
                                pinctrl-0 = <&pinctrl_mipi_touch_irq>;
                                reg = <0x38>;
                                interrupt-parent = <&gpio2>;
                                interrupts = <5 IRQ_TYPE_LEVEL_LOW>;
                                reset-gpios = <&pca9554bs_a23 0 GPIO_ACTIVE_LOW>;
                                touchscreen-size-x = <800>;
                                touchscreen-size-y = <480>;
                        };
#endif
			fpdlink_dsi2lvds: ds90ub948@c {
				compatible = "ti,ds90ub94x";
				reg = <0x0c>;
				status = "okay";
				reset-gpios = <&pca9554bs_a23 4 GPIO_ACTIVE_LOW>;
			};
		};
	};
};
