// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2020 TechNexion Ltd.
 *
 * Author: Richard Hu <richard.hu@technexion.com>
 *         Ray Chang <ray.chang@technexion.com>
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/clock/imx8mm-clock.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	fragment@0 {
		target = <&cameradev>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&isi_0>;
		__overlay__ {
			status = "okay";

			cap_device {
				status = "okay";
			};
		};
	};

	fragment@2 {
		target = <&mipi_csi>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			port@0 {
				reg = <0>;
				mipi_csi_ep: endpoint {
					remote-endpoint = <&tevi_ap1302_1_ep>;
					data-lanes = <2>;
					cfg-clk-range = <28>;
					hs-clk-range = <0x1a>;
					bus-type = <4>;
				};
			};
		};
	};

	fragment@3 {
		target = <&lpi2c2>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			tevi_ap1302_otp_1: tevi_ap1302_otp@54 {
				compatible = "atmel,24c1024";
				reg = <0x54>;
				pagesize = <256>;
				//read-only;
			};

			tevi_ap1302_mipi: tevi_ap1302_mipi@3d {
				compatible = "tn,tevi-ap1302";

				reg = <0x3d>;

				// host-power-gpios = <&pca9554bs_a3b 5 GPIO_ACTIVE_LOW>;
				reset-gpios = <&pcal6524 12 GPIO_ACTIVE_HIGH>;
				// device-power-gpios = <&tca9555_a21 0 GPIO_ACTIVE_HIGH>;
				standby-gpios = <&tca9555_a21 2 GPIO_ACTIVE_HIGH>;
				nvmem = <&tevi_ap1302_otp_1>;
				nvmem-names = "calib-data";
				data-lanes = <2>;
				continuous-clock = <0>;
				// supports-over-4k-res;
				status = "okay";

				port {
					tevi_ap1302_1_ep: endpoint {
						remote-endpoint = <&mipi_csi_ep>;
					};
				};
			};
		};
	};
};
