/*
 * Copyright 2019 Technexion Ltd.
 *
 * Author: Tapani Utriainen <tapani@technexion.com>
 *         Richard Hu <richard.hu@technexion.com>
 *         John Weber <john.weber@technexion.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */

#include "imx6qdl-axon.dtsi"
#include <dt-bindings/sound/fsl-imx-audmux.h>
#include "tnmacro.h"

/ {

	aliases {
		i2c0 = &AXON_I2C_A;
		i2c1 = &AXON_I2C_B;
		i2c2 = &AXON_I2C_C;
		i2c3 = &AXON_I2C_D;
		i2c4 = &AXON_I2C_BRD_CONF;
		uart0 = &AXON_UART_A;
		uart1 = &AXON_UART_B;
		uart3 = &AXON_UART_C;
		uart4 = &AXON_UART_BT;
    };

	regulators {

		reg_usb_otg_vbus: usb_otg_vbus {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_otg_vbus>;
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <AXON_EXT_GPIO_X1_P66 GPIO_ACTIVE_LOW>;
			enable-active-low;
		};
	};

	sound-hdmi {
		status = "okay";
	};

	backlight_lvds {
		status = "disabled";
	};

	sound_wm8960: sound-wm8960 {
		compatible = "fsl,imx-audio-wm8960";
		model = "wm8960-audio";
		cpu-dai = <&AXON_AUD_A_I2S_CHANNEL>;
		codec-master;
		audio-codec = <&codec>;
		mux-int-port = <1>;
		mux-ext-port = <3>;
		audio-routing =
			"Headphone Jack", "HP_L",
			"Headphone Jack", "HP_R",
			"Ext Spk", "SPK_LP",
			"Ext Spk", "SPK_LN",
			"Ext Spk", "SPK_RP",
			"Ext Spk", "SPK_RN",
			"LINPUT1", "Main MIC",
			"RINPUT1", "Main MIC",
			"Main MIC", "MICB";
		/* JD2: hp detect high for headphone*/
		hp-det = <2 0>;
	};

	clocks {
		codec_osc: aud_mclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
			clock-output-names = "wm8960-mclk";
		};
	};

	/* Turn off LCD interface as we do not support this on Axon-Pi */
	lcd@0 {
		status = "disabled";
	};
};

&iomuxc {
	imx6qdl-axon {

		pinctrl_otg_vbus: otgvbusgrp {
			fsl,pins = <
				MX6QDL_PAD_EIM_A24__GPIO5_IO04	    0x4001b0b5  /* GPIO_X1_P66 */
			>;
		};

		pinctrl_tusb320_irq: tusb320_irqgrp {
			fsl,pins = <
				MX6QDL_PAD_SD4_DAT6__GPIO2_IO14		0x1b000
			>;
		};
	};
};

&pinmux_axonfabric {

	pinctrl_af_user_led: pcuserled {
		pins = "F_GPIO_X1_P70"; function = "gpio"; drive-push-pull;
	};

	pinctrl_af_user_pb: pcuserpb {
		pins = "F_GPIO_X1_P72"; function = "gpio"; drive-open-drain;
	};

	pinctrl_af_otg_vbus_en: pcotgvbusen {
		pins = "F_GPIO_X1_P66"; function = "passthru_out"; drive-push-pull;
	};

	pinctrl_af_tusb320_irq: pctusb320irq {
		pins = "F_UART_B_CTS"; function = "passthru_in"; drive-push-pull;
	};

	pinctrl_af_csi_ctrl: pccsictrl {
		pins = "F_GPIO_X3_P65", "F_GPIO_X3_P67";
		function = "passthru_out";
		drive-open-drain;
	};

	pinctrl_af_csi_clk: pccsiclk {
		pins = "F_GPIO_X3_P69"; function = "passthru_out"; drive-push-pull;
	};

	pinctrl_af_disp_gpio: pcdispgpio {
		pins = "F_DISP_DAT00", "F_DISP_DAT01", "F_DISP_DAT02", "F_DISP_DAT03",
		"F_DISP_DAT04", "F_DISP_DAT05", "F_DISP_DAT06", "F_DISP_DAT07",
		"F_DISP_DAT08", "F_DISP_DAT09", "F_DISP_DAT10", "F_DISP_DAT11",
		"F_DISP_DAT12", "F_DISP_DAT13", "F_DISP_DAT14", "F_DISP_DAT15",
		"F_DISP_DAT16", "F_DISP_DAT17", "F_DISP_DAT18", "F_DISP_DAT19",
		"F_DISP_DAT20", "F_DISP_DAT21", "F_DISP_DAT22", "F_DISP_DAT23",
		"F_DISP_HSYNC", "F_DISP_VSYNC", "F_DISP_CLK", "F_DISP_BKLEN",
		"F_DISP_DRDY";
		function = "gpio"; drive-push-pull;
	};

	// PWM
	pinctrl_af_pwm_x1_x2: pcafpwmx1x2 {
		pins = "F_PWM_X1_P39", "F_PWM_X2_P79";
		function = "passthru_out"; drive-push-pull;
	};

	// Audio A
	pinctrl_af_aud_a_out: pcafauda_out {
		pins = "F_AUD_A_TXD"; function = "passthru_out"; drive-push-pull;
	};

	pinctrl_af_aud_a_in: pcafauda_in {
		pins = "F_AUD_A_RXD", "F_AUD_A_TXFS", "F_AUD_A_TXCLK";
		function = "passthru_in"; drive-push-pull;
	};

	// Audio B - use as GPIO
	pinctrl_af_aud_b_gpio: pcafaudb_gpio {
		pins = "F_AUD_B_TXD", "F_AUD_B_RXD", "F_AUD_B_TXFS", "F_AUD_B_TXCLK",
		"F_AUD_B_RXFS", "F_AUD_B_RXCLK", "F_AUD_B_MCLK" ;
		function = "gpio"; drive-push-pull;
	};

	// CAN_A/B - use as GPIO
	pinctrl_af_can_gpio: pcafcan_gpio {
		pins = "F_CAN_A_TX", "F_CAN_A_RX", "F_CAN_B_TX", "F_CAN_B_RX";
		function = "gpio"; drive-push-pull;
	};

	// UART_A RTS and CTS - use as GPIO
	pinctrl_af_uart_a_rtscts: pcafuartartscts {
		pins = "F_UART_A_RTS", "F_UART_A_CTS"; function="gpio";
		drive-push-pull;
	};

	// UART_B_RTS - use as RTC DS1337+ interrupt
	pinctrl_af_ds1337_rtc_irq: pcafds1337rtcirq {
		pins = "F_UART_B_RTS"; function="passthru_in";
		drive-push-pull;
	};
};

&audmux {
	status = "okay";

	/* Source port */
	ssi1 {
		fsl,audmux-port = <0>;
		fsl,port-config = <
			(IMX_AUDMUX_V2_PTCR_TFSDIR |
			IMX_AUDMUX_V2_PTCR_TFSEL(2) |
			IMX_AUDMUX_V2_PTCR_TCLKDIR |
			IMX_AUDMUX_V2_PTCR_TCSEL(2) |
			IMX_AUDMUX_V2_PTCR_SYN)
			IMX_AUDMUX_V2_PDCR_RXDSEL(2)
		>;
	};

	/* External port */
	pins3 {
		fsl,audmux-port = <2>;
		fsl,port-config = <
			IMX_AUDMUX_V2_PTCR_SYN
			IMX_AUDMUX_V2_PDCR_RXDSEL(0)
        >;
	};
};

&AXON_I2C_A {
	status = "okay";

	codec: wm8960@1a {
		compatible = "wlf,wm8960";
		reg = <0x1a>;
		#sound-dai-cells = <0>;
		clocks = <&codec_osc>;  /* Note:  AXON-PI the clock is external osc */
		clock-names = "mclk";
		wlf,shared-lrclk;
		wlf,fixed-mclk;
	};

	typec_tusb322:tusb320@47 {
		compatible = "ti,tusb320";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_tusb320_irq>;
		reg = <0x47>;
		vbus-supply = <&reg_usb_otg_vbus>;
		tusb320,int-gpio = <&gpio2 14 GPIO_ACTIVE_LOW>;
		tusb320,select-mode = <0>;
		tusb320,dfp-power = <0>;
	};

	rtc: ds1337 {
		compatible = "dallas,ds1337";
		reg = <0x68>;
	};
};

&AXON_I2C_B {
  status = "okay";
	ov5645_mipi: ov5645_mipi@3c {
		compatible = "ovti,ov5645_mipi";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mipi_csi>;
		reg = <0x3c>;
		clocks = <&clks IMX6QDL_CLK_CKO2>;
		clock-names = "csi_mclk";
//		assigned-clocks = <&clks IMX6QDL_CLK_CKO2>;
//		assigned-clock-parents = <&clks IMX8MQ_SYS2_PLL_200M>;
//		assigned-clock-rates = <24000000>;
		DOVDD-supply = <&reg_2p5v>;
		AVDD-supply = <&reg_2p5v>;
		DVDD-supply = <&reg_1p8v>;
		pwn-gpios = <AXON_EXT_GPIO_X3_P67 GPIO_ACTIVE_HIGH>;
		rst-gpios = <AXON_EXT_GPIO_X3_P65 GPIO_ACTIVE_LOW>;
		ipu_id = <0>;
		csi_id = <0>;
		mclk = <24000000>;
		mclk_source = <0>;
	};
};

&AXON_I2C_C {
	status = "okay";

	/* Power monitor for 3.3V SOM output supply */
	sensor_3v3:ina219_3v3@45 {
		compatible = "ti,ina219";
		reg = <0x45>;
		shunt-resistor = <200000>; /* .2 Ohm resistor = 200000 uOhms*/
	};

	/* Power monitor for 1.8V SOM output supply */
	sensor_1v8:ina219_1v8@40 {
		compatible = "ti,ina219";
		reg = <0x40>;
		shunt-resistor = <200000>; /* .2 Ohm resistor = 200000 uOhms*/
	};

	/* Power monitor for 5V SOM input supply */
	sensor_5v0:ina219_5v0@44 {
		compatible = "ti,ina219";
		reg = <0x44>;
		shunt-resistor = <200000>; /* .2 Ohm resistor = 200000 uOhms*/
	};
};

&AXON_I2C_D {
	status = "okay";
};

&AXON_I2C_BRD_CONF {
	status = "okay";

	eeprom_baseboard: eeprom@51 {
		compatible = "at,24c02";
		reg = <0x51>;
	};
};

&AXON_UART_B {
	status = "okay";
};

&AXON_UART_C {
	pinctrl-0 = <&pinctrl_axon_uart_c_rtscts>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&AXON_CAN_A {
	status = "disabled";
};

&AXON_CAN_B {
	status = "disabled";
};

&AXON_SPI_A {
	status = "okay";

	spidev@1 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <60000000>;
		reg = <0>;
	};
};

&ldb {
	status = "disabled";
};

&hdmi_audio {
	status = "okay";
};

&hdmi_core {
	status = "okay";
};

&hdmi_video {
	status = "okay";
};

/* Baseboard microSD slot */
&reg_usdhc1_vmmc {
	status = "okay";
};

&usdhc1 {
	vmmc-supply = <&reg_usdhc1_vmmc>;
	status = "okay";
};

&pcie {
	status = "disabled";
};

